<%= simple_form_for(@supplement) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.label :source_pdf %>
    <p><%= @supplement.source_pdf.exists? ? link_to(@supplement.source_pdf_file_name, "#{@supplement.source_pdf.url}?dl=1") : "-" %></p>
    <%= f.file_field :source_pdf,  class: " " %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
