<!--p id="notice"><%= notice %></p-->


<h3 class="text-info"> <strong>Title:</strong>
  <%= @supplement.title %>
</h3>
<p>
  <strong>Source pdf:</strong>
  <%= link_to @supplement.source_pdf_file_name, @supplement.source_pdf.url  %>
</p>

<p>
  <strong>Description:</strong>
  <%= @supplement.description %>
</p>

<p>
  <strong>Images count:</strong>
  <%= @supplement.images_count %>
  </p>
  <%= link_to "Download (*.pdf)", supplement_path(@supplement, :format => "pdf"), :class=> "btn btn-info"%>
<% @supplement.images.each do |image| %>
  <%= image_tag image.file.url, :class => "annotatable" %>
<% end %>
<!-- width: 930px   height: 698   -->
<%- @annotations.each do |annotation| %>
  <%- 
    
    image = MiniMagick::Image.open(annotation['src'])
    geometry = annotation["shapes"].first["geometry"]
    height = image.height * geometry["height"]
    width = image.width * geometry["width"]
    x_left = image.width * geometry["x"]#  * 100 
    y_top = image.height * geometry["y"]# * 100
    x_right = x_left + width
    y_bottom = y_top + height
  %>
 
 <style>
a#image {
  display: block;
  
   background-repeat: no-repeat;
   
  
}


</style>
<hr />
<div class="row">
  <div class="col-md-4 ">
    <a id="image" class="well" href="http://example.com" style="background-position: -<%= x_left %>px -<%= y_top %>px;   width: <%= width %>px; height: <%= height %>px; background-image: url(<%=annotation['src'] %>)">
    </a>
  </div>
  <div class="col-md-8">
    <div class="well">
      <p class="text-info"><%= annotation["text"]%></p>
      <p class="text-mutted"><%= time_ago_in_words(annotation["createdAt"])%> ago</p>
    </div>
  </div>
  </div>
<% end %>

<%= link_to 'Edit', edit_supplement_path(@supplement), :class => "btn btn-primary" %> |
<%= link_to 'Back', supplements_path , :class => "btn btn-primary"%>
