<%= content_for :head do %>

<script>
    $(document).ready(function(){           
     $('.signature_form').signaturePad({ drawOnly: true, lineTop: 190, validateFields: false})
  });
  </script>
<% end %>

<div class="row">
  <div class="col-sm-12 ">
 <div class="panel panel-success">    
  <div class="panel-heading">
    <h3 class="panel-title">Edit your profile</h3>
  </div>
  <div class="panel-body">
   <%= form_for(resource, :as => resource_name,
    :url => registration_path(resource_name),
    :html => { :method => :put,  :multipart => true, role: "form", :class=>"signature_form" }) do |f| %>

    <%= devise_error_messages! %>
    <%- if @user.avatar.exists? %>
      <%= image_tag @user.avatar.url(:thumb), :class=> "img-thumbnail"%>
    <% end %>
    <div class="form-group">
      <%= f.label :avatar %>  
      <div class="row">
        <div class="col-sm-6">
          <%= f.file_field :avatar, class: "form-control" %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :email %>
      <div class="row">
        <div class="col-sm-6">
          <%= f.email_field :email, :autofocus => true, class: "form-control" %>
        </div>
      </div>
    </div>
       
    <div class="form-group">
      <%= f.label :username %>
      <div class="row">
        <div class="col-sm-6">
          <%= f.text_field :username, class: "form-control" %>
        </div>
      </div>
    </div>
    
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div class="row">
      <div class="col-sm-6">
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      </div>
    </div>
    <% end %>

    <div class="form-group">
      <%= f.label :password %> <i><small>(leave blank if you don't want to change it)</small></i>
      <div class="row">
        <div class="col-sm-6">
          <%= f.password_field :password, :autocomplete => "off", class: "form-control" %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation %>
      <div class="row">
        <div class="col-sm-6">
          <%= f.password_field :password_confirmation, class: "form-control" %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :current_password %> <i><small>(we need your current password to confirm your changes)</small></i>
      <div class="row">
        <div class="col-sm-6">
          <%= f.password_field :current_password, class: "form-control" %>
        </div>
      </div>
    </div>
    <%#= image_tag resource.signature, :class=> "img-thumbnail"%>  
    <hr />
    <div class= " sig sigWrapper">
    <canvas class= "img-thumbnail pad" width="698" height="300">
        <%= f.hidden_field :signature, :value => nil, :class => 'output' %>
      </canvas>
      </div>
      
  <ul class="sigNav">
    <span class="clearButton"><a href="#clear" class="btn btn-default  btn-trans">Clear Signature Pad</a></span>
  </ul>


    <div class="row">
      <div class="col-sm-6">
        <%= f.submit "Update", class: "btn btn-primary" %> - <%= link_to "Cancel", inside_path, class: "btn btn-default"%>
      </div>
    </div>

    <% end %>
  </div>
</div>
</div>
</div>
