
<%= nested_form_for(@record, :url => wizard_path, :method => :put) do |f| %>
  <% if @record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@record.errors.count, "error") %> prohibited this record from being saved:</h2>

      <ul>
      <% @record.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.hidden_field :form_id %>
    <%= f.hidden_field :id %>
  </div>
  <%= f.fields_for :data, OpenStruct.new(f.object.data) do |p| %>
  <%- @form.steps.where(:number => step.to_s.gsub('step','').to_i).first.inputs.each do |i| %>
    <div class="form-group">
      <%= p.label i.name %>
        <div class="row">
          <div class="col-xs-12 ">
            <% case i.control  %>
            <% when 'text_field' %>
              <%= p.text_field i.name, class: "form-control monospaced-control required", :required =>true %>
            <% when 'text_area' %>
              <%= p.text_area i.name, class: "form-control monospaced-control required" %>
            <% when 'date' %>
              <%= p.date_field i.name, class: "form-control monospaced-control" %>
            <% when 'phone' %>
              <%= p.telephone_field i.name, class: "form-control monospaced-control" %>
            
            <% when 'email' %>
              <%= p.email_field i.name, class: "form-control monospaced-control" %>
            
            <% when 'select' %>
              <%= p.select i.name, i.field_values.collect {|p| [ p.value, p.id ] } ,{include_blank: true }, {:class=>"form-control"}  %>
            
            <% when 'radio' %>
              <% i.field_values.each do |field_value| %>
                 <%= p.radio_button i.name, field_value.value %>
                 <%= p.label i.name, field_value.value %>
              <% end %>
            
            <% when 'checkboxes' %>
              <% i.field_values.each do |field_value| %>
                <%= p.check_box "#{i.name[field_value.value]}" %>
                 <%= p.label i.name, field_value.value %>
               <% end %>
             
            <% else %>
              <%= p.text_field i.name, class: "form-control monospaced-control" %>
            <% end %>  
          </div>
        </div>
    </div>
  <% end %>
<% end %>

  
   
  <div class="actions">
    <%= f.submit "Next", :class=>"btn btn-sm btn-primary" %>
  </div>
<% end %>
