<div class="form-group form-group-sm ">
  <div class="row">
    <div class="col-md-6 col-md-offset-1">
      
      <%= f.association :related_record, collection: Record.by_form(form_type.to_i).map {|r| [r.data.to_s, r.id]} , label: false, input_html: { class: 'form-control input-xs' },class: "btn btn-xs form-control monospaced-control"%>
      
    </div>
    <div class="col-xs-3">
      <%= f.link_to_remove "Remove", :class=>"btn btn-xs btn-danger" %>
    </div>
  </div>
  <br>
</div>

