<script>
  $(document).ready(function() {
    $(".phone").mask('(999) 999-9999');
      });
</script>    
<%- @record.locations.build %>
<%= simple_nested_form_for @record , :url => wizard_path, :method=> :put  ,html: { :multipart => true, class: 'former-form form-horizontal button_to' },  wrapper: :horizontal_form,
  wrapper_mappings: {
    check_boxes: :horizontal_radio_and_checkboxes,
    radio_buttons: :horizontal_radio_and_checkboxes,
    file: :horizontal_file_input,
    boolean: :horizontal_boolean
  } do |f| %>
  
   <%= tutorial_progress_bar %> 
  
<div class="step-content">
 
  <%-form_step =  @form.steps.where(:number => step.to_s.gsub('step','').to_i).first %>
  <div class="row">
  <div class="col-md-6 col-md-offset-1">
  <p class="text-primary "><%= form_step.title %> </p>
  <%= f.error_notification %>
  <%= f.hidden_field :form_id %>
  <%= f.hidden_field :id %>
  <%= f.simple_fields_for :data, OpenStruct.new(f.object.data) do |p| %>
    <%- form_step.inputs.each do |i| %>
      <% case i.control  %>
            <% when 'text_area' %>
              <%= p.input i.slug, :label=> i.name, label_html: { 'data-toggle': 'tooltip', 'title': i.help },  wrapper_html: { } %>
            <% when 'date' %>
              <%= p.input i.slug, :label=> i.name, as: :string, :required => i.required, label_html: { 'data-toggle': 'tooltip', 'title': i.help }, :input_html=> { :class=>"form-control" ,:data => {:provide => 'datepicker'} }  %>
            <% when 'phone' %>
              <%= p.input i.slug, :label=> i.name, :as => :tel, :required => i.required, label_html: { 'data-toggle': 'tooltip', 'title': i.help }, :input_html => { :data => {:toggle => "popover",:placement => "top", :trigger => "focus", :content => "#{i.help}"}, :class=>"phone", :maxlength => 14, :"data-mask" => "999-999-9999" }  %>
            <% when 'email' %>
              <%= p.input i.slug, :label=> i.name, :as => :email,  :required => i.required , label_html: { 'data-toggle': 'tooltip', 'title': i.help }, :input_html => { :data => {:toggle => "popover",:placement => "top", :trigger => "focus", :content => "#{i.help}"}} %>
            <% when 'select' %>
              <%= p.input i.slug, :label=> i.name, :required => i.required, label_html: { 'data-toggle': 'tooltip', 'title': i.help }, collection: i.field_values.map {|v|  v.value },:input_html => { :data => {:toggle => "popover",:placement => "top", :trigger => "focus", :content => "#{i.help}"}} %>
            <% when 'location' %>
                <div id="address-panel">
                  <%= f.simple_fields_for :locations do |location| %>
                    <%= location.input :full_address , :input_html => {:class=>"address typeahead"}%>  
                  <% end %>
                  <pre id="response" style="display:none;"> </pre>
                </div>
                <div id="map" class="well" style="width:200px; height: 200px; position: relative; overflow: hidden; transform: translateZ(0px) translateZ(0px); margin-right: 0px; margin-left: 3px; left: 130px; background-color: rgb(229, 227, 223);"></div>
                <div style="clear:both"></div>
                <!--tiles start-->
                <script> 
                  $(document ).ready(function() {
                     $( function() {
                  // instantiate the addressPicker suggestion engine (based on bloodhound)
                  var addressPicker = new AddressPicker({map: {id: "#map", displayMarker: true}, zoomForLocation: 18, draggable: true, reverseGeocoding: true, autocompleteService: {types: ['geocode'], componentRestrictions: {country: 'US'}}});
                  // instantiate the typeahead UI
                  $('.address').typeahead(null, {
                    displayKey: 'description',
                    source: addressPicker.ttAdapter()
                  });
                  addressPicker.bindDefaultTypeaheadEvent($('.address'))
                  $(addressPicker).on('addresspicker:selected', function (event, result) {
                    html = ["Address: " + result.address()]
                    html.push("Latitude: " + result.lat())
                    html.push("Longitude: " + result.lng())
                    html.push("Long names:")
                    $('.location_lat').val(result.lat());
                    $('.location_lng').val(result.lng());
                    result.addressTypes().forEach(function(type) {
                      html.push("  " + type + ": " + result.nameForType(type))
                    })
                    html.push("Short names:")
                    result.addressTypes().forEach(function(type) {
                      html.push("  " + type + ": " + result.nameForType(type, true))
                    })
                    $('#response').html( html.join('\n'))
                  })
                })

                });
                </script>  
            <% when 'tags' %>
              <%#= p.select i.name, i.field_values.collect {|p| [ p.id, p.value ] } ,{include_blank: true }, {:class=>"form-control tags" ,'data-role'=>'tagsinput', :multiple => true}  %>
              <%= p.input i.slug, :label=> i.name,  :required => i.required, label_html: { 'data-toggle': 'tooltip', 'title': i.help },  :input_html => { :class=>"form-control", :data => {:toggle => "popover",:placement => "top", :role => "tagsinput", :trigger => "focus",  :content => "#{i.help}"}}, wrapper_html: {}  %>
            <% when 'radio' %>
              <%= p.input i.slug, :label=> i.name, :required => i.required, label_html: { 'data-toggle': 'tooltip', 'title': i.help }, collection: i.field_values.map {|v| v.value}, as: :radio_buttons,:input_html => { :data => {:toggle => "popover",:placement => "top", :trigger => "focus", :content => "#{i.help}"}} %>
            <% when 'relation' %>
              <div class="row">
                <div class="panel panel-default ">
                  <div class="panel-heading">Related records: </div>
                  <div class="panel-body">
                    <%= f.simple_fields_for :relations do |relations| %>
                        <%= render 'relation_fields',  { f: relations, form_type: i.data['relation'] }  %>
                    <% end %>
                    <p>
                      <%= f.link_to_add(:relations, :class=>'btn btn-xs btn-info ') do %>
                        <i class="fa  fa-plus-circle"></i> add relation
                      <% end %>
                    </p>
                  </div>
                </div>
              </div>
            <% when 'checkboxes' %>
              <% if @record.data and @record.data[i.name] %>
                <%= p.input i.slug, :label=> i.name , label_html: { 'data-toggle': 'tooltip', 'title': i.help }, :required => i.required, collection: i.field_values.map{|v| v.value }, as: :check_boxes,  :checked =>  JSON.parse(@record.data[i.name]),:input_html => { :data => {:toggle => "popover",:placement => "top", :trigger => "focus", :content => "#{i.help}"}}  %>
              <% else %>
                <%= p.input i.slug, :label=> i.name , label_html: { 'data-toggle': 'tooltip', 'title': i.help }, :required => i.required, collection: i.field_values.map{|v| v.value }, as: :check_boxes,:input_html => { :data => {:toggle => "popover",:placement => "top", :trigger => "focus", :content => "#{i.help}"}}  %>
              <% end%>
            <% else %>
              <%= p.input i.slug, :label=> i.name, :required => i.required, label_html: { 'data-toggle': 'tooltip', 'title': i.help }, :input_html => { :data => {:toggle => "popover",:placement => "top", :trigger => "focus", :content => "#{i.help}"}}, wrapper_html: { class: ""}  %>
            <% end %>
            <!-- HTML to write -->
    <% end %>
  <% end %>
  </div>
  </div>
  <%#= f.button :submit %>
<% end %>
<br>
</div>
 <%- @form.steps.where(:number => step.to_s.gsub('step','').to_i).first.slave_forms.each do |slave_form| %>
   <div class="panel panel-info">
    <div class="panel-body">
          <table class="table  table-bordered table-condensed table-hover">
            <thead>
              <tr>
                <th> Title </th>
                <%- slave_form.column_headers_slave.each do |header| %>
                  <th><%= header %></th>
                <% end %>
                <th> </th>
              </tr>
            </thead>
            <tbody>
              <% @record.slave_records.where(:form_id => slave_form.id).each do |slave_record| %>
                <tr>
                  <td> <%= slave_record.title %></td>
                  <% slave_form.column_headers_slave.each do |header| %>
                    <td><%= slave_record.data[header] %></td>
                  <% end %>
                  <td style="width: 5%;"><%= link_to 'Destroy', slave_record, method: :delete, data: { confirm: 'Are you sure?' }, :class=>"btn btn-xs btn-danger" %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <div class="panel-footer">
          <%= link_to "Add #{slave_form.name}", new_record_path(:master_record_id => @record.id, :form_id => slave_form.id ), data: { modal: true }, :class=>"go-btn btn btn-info btn-xs" %>
        </div>
        </div>
        <% end %>



