 <div class="panel panel-success">    
  <div class="panel-heading">
    <h3 class="panel-title">Fill the form</h3>
  </div>
  <div class="panel-body">      
    <section class="fuelux">
      <%= render 'simple_form' %>
    </section>
  </div>
</div>


<%= stylesheet_link_tag "main.css"%>
