<%= content_for :head do %>

<script>
    $(document).ready(function(){           
     $('.signature_form').signaturePad({ drawOnly: true, lineTop: 190, validateFields: false})
  });
  </script>
<% end %>
<div class="panel panel-default">    
    <div class="panel-body">      


<%= nested_form_for(@record, :url => wizard_path, :method => :put, :html => {:multipart => true, :class=>"signature_form" }) do |f| %>
  <% if @record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@record.errors.count, "error") %> prohibited this record from being saved:</h2>

      <ul>
      <% @record.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
    <%= tutorial_progress_bar %>
    <hr>
    <div class="field">
    <%= f.hidden_field :form_id %>
    <%= f.hidden_field :id %>
  </div>
  <div class= "well sig sigWrapper">
    <canvas class= "pad" width="698" height="300">
        <%= f.hidden_field :signature, :value => nil, :class => 'output' %>
      </canvas>
      </div>
      
  <ul class="sigNav">
    <li class="clearButton"><a href="#clear" class="btn btn-default">Clear Signature Pad</a></li>
  </ul>
  <div class="actions">
    <%#= f.submit "Next", :class=>"btn btn-sm btn-primary" %>
  </div>
<% end %>

    </div>
</div>
<%= stylesheet_link_tag "main.css"%>
