<div class="panel panel-success">    
  <div class="panel-heading">
    <h3 class="panel-title">Attachments</h3>
  </div>
  <div class="panel-body">      
    <section class="fuelux">
  <%= nested_form_for(@record, :url => wizard_path, :method => :put, :html => {:multipart => true, :class=>"signature_form" }) do |f| %>
  <% if @record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@record.errors.count, "error") %> prohibited this record from being saved:</h2>

      <ul>
      <% @record.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
    <%= tutorial_progress_bar %>
    <hr>
    <div class="field">
    <%= f.hidden_field :form_id %>
    <%= f.hidden_field :id %>
  </div>
 
  <div class="actions">
    <%#= f.submit "Next", :class=>"btn btn-sm btn-primary" %>
  </div>
<% end %>
  
    <div class="well">
      <%- @attachment = @record.attachments.new %>
      <%= form_for(@attachment,:url => attachments_path(@attachment), html: { multipart: true,:method => :post, class: "dropzone"}) do |f|  %>
        <%= f.hidden_field :record_id %>
        <div class="fallback">
        <%= f.file_field :upfile %><br>
        <%= f.submit "Upload" %>
      </div>
<% end %>
</div>
   
    </section>
  </div>
</div>



