<div class="panel panel-success">    
  <div class="panel-heading">
    <h3 class="panel-title">Forms</h3>
  </div>
  <div class="panel-body">      
    <section class="fuelux">
      <%= simple_nested_form_for @record , :url => wizard_path, :method=> :put  ,html: { :multipart => true, class: 'form-horizontal' } do |f| %>
        <div>
          <%= tutorial_progress_bar %>
        </div>
        <div class="step-content">
          <h3 class="text-info"> Record successfully created! </h3>
          <%= link_to "Submit for Approvement", approvement_request_records_path(:record_id => @record.id) , :class =>"btn btn-info" %>
        </div>
      <% end %>
      </section>
    </div>
</div>
<%= stylesheet_link_tag "main.css"%>
