<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @input.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @input.description %>
</p>

<p>
  <strong>Required:</strong>
  <%= @input.required %>
</p>

<p>
  <strong>Form:</strong>
  <%= @input.form_id %>
</p>

<%= link_to 'Edit', edit_input_path(@input) %> |
<%= link_to 'Back', inputs_path %>
