<div class="row">
  <div class="col-md-6" id="login-wrapper">  
    <div  class="panel panel-primary animated flipInY">
      <div class="panel-heading">
        <h3 class="panel-title"> Forgot your password?</h3>
      </div>
      <div class="panel-body">
        <%= form_for(resource, :as => resource_name,
        :url => password_path(resource_name),
        :html => { :method => :post, :role => "form" }) do |f| %>

        <%= devise_error_messages! %>

        <div class="form-group">
          <%= f.label :email %>
              <%= f.email_field :email, :autofocus => true, class: "form-control" %>
        </div>

            <%= f.submit "Send me reset password instructions", class: "btn btn-primary btn-block" %>
        <% end %>

        <%= render "devise/shared/links" %>
    
      </div>
    </div>
  </div>
</div>
