<li class="list-group-item">
<div class="row">
  <div class="col-md-1">
    <div class="list-item-image pull-left">
      <%- avatar_url = author_avatar rescue 'unknown_icon.gif' %>
      <%= image_tag( avatar_url, :class=> "img-circle")  %>
  </div>
  <strong><%= author rescue nil  %></strong>
</div>
<div class="col-md-9">
  <% case activity_key.split(".").last %>
  <% when 'update' %>
    <span class="glyphicon glyphicon-edit"></span>
  <% when 'create' %>
    <span class="glyphicon glyphicon-plus"></span>
  <% when 'destroyed' %>
    <span class="glyphicon glyphicon-remove"></span>
  <% when 'logged_in' %>
    <span class="glyphicon glyphicon-log-in"></span>
  <% end %>
  <small class="text-muted"><%= created_at rescue nil %></small><br/>
    <%=raw content %>
 </div>
 </div>
</li>
