    <h4 class="text-info"> Payment Info</h4>
        <hr />
        
          <div class="form-group">
          <%= label_tag :card_number, "Credit Card Number" , class: 'col-md-3 control-label' %>
          <div class="col-md-9">
            <%= text_field_tag :card_number, nil, name: nil, class: 'form-control', data: { stripe: 'number' } %>
          </div>
        </div>
        
          <div class="form-group">
            <%= label_tag :card_code, "Card Security Code" , class: 'col-md-3 control-label'%>
            <div class="col-md-2">
              <%= text_field_tag :card_code, nil, name: nil, class: 'form-control', data: { stripe: 'cvc' } %>
            </div>  
            
            <%= label_tag :card_month, "Card Expiry" , class: 'col-md-2 control-label'%>
            <div class="col-md-3">
              <%= select_month nil, { use_two_digit_numbers: true}, { name: nil, class: 'form-control col-md-3', data: { stripe: 'exp-month' } } %>
            </div>
            
            <div class="col-md-2">
              <%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+10}, { name: nil, class: 'form-control col-md-2', data: { stripe: 'exp-year' } } %>
            </div>
          
          </div>
     

