      
    <h4 class="text-info"> Additional information</h4>
    <hr>
    <div class="form-group">
          <%= f.label :first_name, class: "col-sm-3 control-label"  %>
          <div class="col-md-3">
            <%= f.text_field :first_name, class: 'form-control' , placeholder: 'First Name'%>
          </div>

          <%= f.label :last_name, class: "col-sm-2 control-label"  %>
          <div class="col-md-4">
            <%= f.text_field :last_name, class: 'form-control' , placeholder: 'Last Name'%>
          </div>
        </div>
  <!-- Form Name -->

        <div class="form-group">
          <%= f.label :main_phone, class: "col-sm-3 control-label"  %>
          <div class="col-md-3">
            <%= f.text_field :main_phone, class: 'form-control' , placeholder: '+1(428) 66 ...'%>
          </div>
          <%= f.label :mobile_phone , class: "col-sm-3 control-label"%>
          <div class="col-md-3">
            <%= f.text_field :mobile_phone, class: 'form-control' , placeholder: '+1(428) 66 ...'%>
          </div>
        </div>

        
        <div class="form-group">
          <%= f.label :company_name , class: "col-sm-3 control-label"%>
          <div class="col-md-9">
            <%= f.text_field :company_name, class: 'form-control' , placeholder: 'Input company name'%>
          </div>  
          </div>
          
        <div class="form-group">
          <%= f.label :industry , class: "col-sm-3 control-label"%>
          <div class="col-md-3">
            <%= f.text_field :industry, class: 'form-control' , placeholder: 'ex. Manufacturing'%>
          </div>  
          <%= f.label :company_size , class: "col-sm-3 control-label"%>
          <div class="col-md-3">
            <%= f.select :company_size,  1..100,{}, {class: 'form-control'} %>
          </div>
        </div>
        
    <h4 class="text-info"> Address</h4>
    <hr>
    <!-- Text input-->
          <div class="form-group">
            <label class="col-sm-3 control-label" for="textinput">Line 1</label>
            <div class="col-sm-9">
              <%= f.text_field :address_1, class: 'form-control', placeholder: 'Address Line 1' %>
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-sm-3 control-label" for="textinput">Line 2</label>
            <div class="col-sm-9">
              <%= f.text_field :address_1, class: 'form-control', placeholder: 'Address Line 2' %>
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-sm-3 control-label" for="textinput">City</label>
            <div class="col-sm-9">
              <%= f.text_field :city, class: 'form-control', placeholder: 'City' %>
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-sm-3 control-label" for="textinput">State</label>
            <div class="col-sm-3">
              <%= f.text_field :state, class: 'form-control', placeholder: 'State' %>
            </div>

            <label class="col-sm-2 control-label" for="textinput">Postcode</label>
            <div class="col-sm-4">
              <input type="text" placeholder="Post Code" class="form-control">
            </div>
          </div>



          <!-- Text input-->
          <div class="form-group">
            <label class="col-sm-3 control-label" for="textinput">Country</label>
            <div class="col-sm-9">
              <%= f.text_field :country, class: 'form-control', placeholder: 'Country' %>
            </div>
          </div>

          

     
