                <div class="row">
                    <div class="col-md-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">To do list</h3>
                                <div class="actions pull-right">
                                    <i class="fa fa-chevron-down"></i>
                                    <i class="fa fa-times"></i>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input id="new-todo" type="text" class="form-control" placeholder="What needs to be done?">
                                            <section id="main">
                                                <ul id="todo-list"></ul>
                                            </section>
                                        </div>
                                        <div class="form-group">
                                            <button id="todo-enter" class="btn btn-primary pull-right">Submit</button>
                                            <div id="todo-count"></div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Server Status</h3>
                                        <div class="actions pull-right">
                                            <i class="fa fa-chevron-down"></i>
                                            <i class="fa fa-times"></i>
                                        </div>
                                    </div>
                                    <div class="panel-body">

                                        <span class="sublabel">Memory Usage</span>
                                        <div class="progress progress-striped">
                                            <div class="progress-bar progress-bar-info" style="width: 20%">20%</div>
                                        </div>
                                        <!-- progress -->

                                        <span class="sublabel">CPU Usage </span>
                                        <div class="progress progress-striped">
                                            <div class="progress-bar progress-bar-default" style="width: 60%">60%</div>
                                        </div>
                                        <!-- progress -->

                                        <span class="sublabel">Disk Usage </span>
                                        <div class="progress progress-striped">
                                            <div class="progress-bar progress-bar-primary" style="width: 80%">80%</div>
                                        </div>
                                        <!-- progress -->

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="panel panel-solid-info">
                            <div class="panel-heading">
                                <h3 class="panel-title">Weather</h3>
                                <div class="actions pull-right">
                                    <i class="fa fa-chevron-down"></i>
                                    <i class="fa fa-times"></i>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <h3 class="text-center small-thin uppercase">Today</h3>
                                        <div class="text-center">
                                            <canvas id="clear-day" width="110" height="110"></canvas>
                                            <h4>62°C</h4>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <h3 class="text-center small-thin uppercase">Tonight</h3>
                                        <div class="text-center">
                                            <canvas id="partly-cloudy-night" width="110" height="110"></canvas>
                                            <h4>44°C</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-footer">
                                <div class="row">
                                    <div class="col-md-2">
                                        <h6 class="text-center small-thin uppercase">Mon</h6>
                                        <div class="text-center">
                                            <canvas id="partly-cloudy-day" width="32" height="32"></canvas>
                                            <span>48°C</span>
                                        </div>
                                    </div>

                                    <div class="col-md-2">
                                        <h6 class="text-center small-thin uppercase">Mon</h6>
                                        <div class="text-center">
                                            <canvas id="rain" width="32" height="32"></canvas>
                                            <span>39°C</span>
                                        </div>
                                    </div>

                                    <div class="col-md-2">
                                        <h6 class="text-center small-thin uppercase">Tue</h6>
                                        <div class="text-center">
                                            <canvas id="sleet" width="32" height="32"></canvas>
                                            <span>32°C</span>
                                        </div>
                                    </div>

                                    <div class="col-md-2">
                                        <h6 class="text-center small-thin uppercase">Wed</h6>
                                        <div class="text-center">
                                            <canvas id="snow" width="32" height="32"></canvas>
                                            <span>28°C</span>
                                        </div>
                                    </div>

                                    <div class="col-md-2">
                                        <h6 class="text-center small-thin uppercase">Thu</h6>
                                        <div class="text-center">
                                            <canvas id="wind" width="32" height="32"></canvas>
                                            <span>40°C</span>
                                        </div>
                                    </div>

                                    <div class="col-md-2">
                                        <h6 class="text-center small-thin uppercase">Fri</h6>
                                        <div class="text-center">
                                            <canvas id="fog" width="32" height="32"></canvas>
                                            <span>42°C</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <h4>Browser Summary</h4>
                                <div id="donut-example"></div>
                              </div>
                </div>
                        </div>
                      </div>

