<%= simple_nested_form_for(@record,remote: request.xhr?, :html => { data: { modal: true }, :multipart => true, :class=>"signature_form" }) do |f| %>
  <% if @record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@record.errors.count, "error") %> prohibited this record from being saved:</h2>

      <ul>
      <% @record.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<%
=begin
%>
  <div class= "well sig sigWrapper">
        <canvas class= "pad" width="698" height="300">
        <%= f.hidden_field :signature, :value => nil, :class => 'output' %>
      </canvas>
      </div>
<%
=end
%>
      <%#= f.file_field :signature %>
  <div class="field">
    <%= f.hidden_field :form_id %>
  </div>
   <div class="form-group" style="display:none;">
    <%= f.label :parent %>
        <div class="row">
          <div class="col-xs-12 ">
            <%= f.select :parent_id, nested_set_options(Record, @record) {|i| "#{'-' * i.level} #{i.title}" } , class: "form-control " %>
          </div>
        </div> 
  </div> 

  <div class="form-group">
    <%= f.label :title %>
        <div class="row">
          <div class="col-xs-12 ">
            <%= f.text_field :title, :data => {:toggle => "popover", :trigger => "focus", :content => "asdasdasdasdasdasdasda"}, class: "form-control monospaced-control" %>
          </div>
        </div> 
  </div> 
  <%= f.fields_for :data, OpenStruct.new(f.object.data) do |p| %>
    <%- @record.form.steps.each do |step| %>
      <%- step.inputs.each do |i| %>
       <div class="form-group">
        <%= p.label i.name %>
        <div class="row">
          <div class="col-xs-12 ">
            <% case i.control  %>
            <% when 'text_field' %>
              <%= p.text_field i.name, class: "form-control monospaced-control" %>
            <% when 'text_area' %>
              <%= p.text_area i.name, class: "form-control monospaced-control" %>
            <% when 'date' %>
              <%= p.text_field i.name, :data => {:provide => 'datepicker'}, class: "form-control monospaced-control" %>
            <% when 'phone' %>
              <%= p.telephone_field i.name, class: "form-control monospaced-control" %>
            
            <% when 'email' %>
              <%= p.email_field i.name, class: "form-control monospaced-control" %>
            <% when 'select' %>
              <%= p.select i.name, i.field_values.collect {|p| [ p.value, p.id ] } ,{include_blank: true }, {:class=>"form-control"}  %>
            <% when 'tags' %>
              <%= p.select i.name, i.field_values.collect {|p| [ p.id, p.value ] } ,{include_blank: true }, {:class=>"form-control" ,'data-role'=>'tagsinput', :multiple => true}  %>
            <% when 'radio' %>
              <% i.field_values.each do |field_value| %>
                 <%= p.radio_button i.name, field_value.value %>
                 <%= p.label i.name, field_value.value %>
              <% end %>
            
            <% when 'checkboxes' %>
              <% if @record.data and @record.data[i.name] %>
                <%= p.input i.name , :required => i.required, collection: i.field_values.map{|v| v.value }, as: :check_boxes,  :checked =>  JSON.parse(@record.data[i.name]),:input_html => { :data => {:toggle => "popover",:placement => "top", :trigger => "focus", :content => "#{i.help}"}}  %>
              <% else %>
                <%= p.input i.name , :required => i.required, collection: i.field_values.map{|v| v.value }, as: :check_boxes,:input_html => { :data => {:toggle => "popover",:placement => "top", :trigger => "focus", :content => "#{i.help}"}}  %>
              <% end%>

            <% else %>
              <%= p.text_field i.name, class: "form-control monospaced-control" %>
            <% end %>  
          </div>
        </div>
    </div>

      <% end %>
    <% end %>
  <% end %>

  <%= image_tag @record.signature.url, :class =>"img-thumbnail" %>
  <hr>
  
  <% @record.attachments.each do |attachment| %>
  <div class="img-thumbnail">
    <%= image_tag attachment.upfile.url, alt: attachment.upfile.url, :size=> "100x100" %>
  </div>
<% end %>

<div class="row">
  <div class="col-xs-12 padded">

    <%= f.submit "Save", :class=>"btn  btn-primary" %>
  </div>
  </div>
<% end %>

