    <p>
      <strong>Form:</strong>
      <%= @record.form.name %>
    </p>
    <p>
      <strong>Created_by:</strong>
      <%= @record.user.email %>
    </p>

    <%- @record.data_fields.each do |pair|%>
      <p>
      <strong><%= pair.first[0..-16] %>:</strong>
        <%= pair.last %>
      </p>
    <% end %>  
    
    <% @record.locations.each do |location| %>
      <%= location.full_address %>
    <% end %>
    <div class="row">
      <div class="col-md-4">
        <h3 class=""> User's Signature </h3>
        <%- if @record.signature.exists? %>
          <%= image_tag @record.signature, :class=> "img-thumbnail" %>
        <% else %>
          <%= image_tag "image-not-available", :class=> "img-thumbnail" %>
        <% end %>
        <%#= image_tag @record.signature, :class=> "img-thumbnail" %>
      </div>
      <div class="col-md-offset-2 col-md-4">
        <h3 class="muted"> Admin Approve Signature </h3>
        <%- if @record.admin_signature.exists? %>
          <%= image_tag @record.admin_signature ,:class=> "img-thumbnail"%>
        <% else %>
          <%= image_tag "image-not-available", :class=> "img-thumbnail" %>
        <% end %>

      </div>
    </div>
