        <div class="panel panel-default">
          <div class="panel-heading">Record created by: </div>
          <div class="panel-body">
            <% if @record.user %>
              <strong> <%= @record.user.email rescue "no user"%> </strong>
              <%= image_tag "unknown_icon.gif", :class => "media-object"%>
              <%= @record.user.plan.name %>
            <% else %>
              <h4> No data</h4>
            <% end %>
          </div>
        </div>
        
        <div class="panel panel-default">
          <div class="panel-heading">Headers: </div>
          <div class="panel-body">
            <%= @record.data.collect {|k,v| k} %>
          </div>
        </div>    
         <div class="panel panel-default">
          <div class="panel-heading">History: </div>
          <div class="panel-body">
            <%- @record.versions.each do |version| %>
              <p>  <strong><%= User.find(version.whodunnit).email %></strong> <%= version.event %> at <%= version.created_at %></p>
            <% end %>  
          </div>
        </div> 
