 <ol class="tree" data-rebuild-url="<%= rebuild_records_url%>">
  <%#= sortable_tree @records %>
  <%=raw sortable_tree @records, :type => :sortable, :new_url => new_record_path, :title => :title, :max_levels => 5, :rebuild_url => rebuild_records_url %>
</ol>

