
<h4  class="bg-success">Nested Records</h4>

<div class="panel panel-default">    
    <div class="panel-body">      
  <table class="table  table-condensed table-hover">
   
    <!--thead>
      <tr>
        <th>Type</th>
        <th>Id</th>
        <th>Created_at</th>
        <th colspan="2" style="width:10%;"></th>
      </tr>
    </thead-->

    <tbody>
      <% @record.children.each do |record| %>
        <tr>
          <td><strong><%= link_to "##{record.id}", edit_record_path(record), :remote=>true %> </strong></td>
          <td><strong><%= record.title rescue ''%></strong></td>
          <td><strong><%= record.form.name rescue ''%></strong></td>
          <td><%= time_ago_in_words(record.created_at)%> ago by <%= record.user.email rescue nil %> </td>
          <td style="width: 5%;"> 
            <%- if record.data %>
             <%= link_to "Report", record_path(record, format: :pdf), :class=>"btn btn-xs btn-info" %> </td>
         <% else %>
          <span class="muted"> no data </span> 
         <% end %>
           <td style="width: 5%;"><%= link_to "Edit", edit_record_path(record), :class=>"btn btn-xs btn-info" %> </td>
           <td style="width: 5%;"><%= link_to 'Destroy', record, method: :delete, data: { confirm: 'Are you sure?' }, :remote=>true, :class=>"btn btn-xs btn-danger" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
  <div class="panel-footer">
    <div class="row">
      <div class="col-md-3">
      <%= form_tag new_record_path do %>
      <%= select_tag  'form_id', options_from_collection_for_select(Form.all, "id", "name") , :class=>"form-control input-sm" %>
    <% end %>
    </div>
    <div class="col-md-3">
    <%= link_to 'New Record', new_record_path(:parent_id => @record.id), data: { modal: true }, :class=>"go-btn btn btn-info btn-xs" %>
    </div>
  </div>
  </div>
</div>
<script>
$(function () {
  $('.go-btn').click(function() {
    var selected = $('#form_id option:selected');
    if (selected.length) {
        // Do something with your selection
        var link = $('.go-btn').attr('href');
        var finalUrl =  link + "?form_id=" + selected.val();
        $('.go-btn').attr('href', finalUrl);
    }
  });

    })
  </script>
