<h2>Previous Versions</h2>

<table class='table table-hoover table-striped table-condensed'>
  <thead>
    <tr>
      <th>Index</th>
      <th>Date</th>
      <th>Author</th>
      <th>Event</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%- record.versions.reverse.each do |version| %>
      <tr>
        <td><%= version.index %></td>
        <td><%= version.created_at %></td>
        <td><%= find_version_author_name(version) %></td>
        <td><%= version.event.humanize %></td>
        <td>
          <%= link_to diff_record_version_path(record, version), class: "btn btn-xs btn-success btn-trans" do %>
            <i class="fa  fa-code-fork"></i>  Diff
          <% end %>
        </td>
        <td>
          <%= link_to  rollback_record_version_path(record, version), method: 'PATCH', class: "btn btn-xs btn-warning btn-trans" do %>
            <i class="fa  fa-undo"></i>  Rollback
          <% end %>
          </td>
        
        </tr>
    <% end %>
  </tbody>
</table>
