<h1>Bring back records</h1>

<table class='table table-hover table table-bordered table-striped'>
  <thead>
    <tr>
      <th>ID</th>
      <th>status</th>
      <th>Deleted by</th>
      <th>At</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @records.each do |record_version| %>
      <%- record = record_version.reify %>
      <tr>
        <td><%= record.id %></td>
        <td><%= record.status %></td>
        <td><%= find_version_author_name(record_version) %></td>
        <td><%= record.created_at %></td>
        <td><%= link_to 'Bringback', bringback_version_path(record_version), method: 'PATCH', :class=> "btn btn-warning btn-sm btn-trans" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'Back', records_path, :class=> "btn btn-info  btn-trans"%>
