 
    <hr>
    <div class="row">
      <div class="col-md-8">
        <div class="panel panel-success">    
          <div class="panel-heading">
            <h3 class="panel-title">Editing Record
              <%= link_to "Generate Report", record_path(@record, format: :pdf), :class=>"btn btn-xs btn-info" %> </td>
            </h3>
          </div>
          <div class="panel-body"> 
            <%= render 'form_with_steps' %>
          </div>
        </div>  
      </div>
      <div class="col-md-4">
        <%= render 'sidebar'%>
      </div>
    </div>

    <%#= render 'layouts/nested_records_table' %>

    <%= link_to 'Show', @record %> |
    <%= link_to 'Back', records_path %>
