<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-md-9">
 <div class="panel panel-success">    
  <div class="panel-heading">
    <h3 class="panel-title"> Records list </h3>
  </div>
  <div class="panel-body"> 
       <br />
       <table class="table table-hover   table-condensed table-striped">
  <thead>
    <tr>
      <th> <%= sort_link(@q, :id)%></th>
      <th> <%= sort_link(@q, :form)%></th>
      <th> <%= sort_link(@q, :author)%></th>
      <th> Progress</th>
      <th> <%= sort_link(@q, :status)%></th>
      <th> <%= sort_link(@q, :created_at)%> </th>
      <th colspan="4" style="width:10%;">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @records.each do |record| %>
      <tr>
        <td> 
          <%= link_to  edit_record_path(record)  do %>
            <strong><span class="label label-primary"> <%= record.id %> </span></strong>
          <% end %> 
        </td>
        <td><span class="muted"><%= record.form.name rescue ''%></span></td>
        <td><%= record.user.email rescue ''%></td> 
        <td>
          <div class="progress">
            <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="min-width: 0em; width: <%= record.extras["progress"] rescue '0%'%>
;">
     <%= record.extras["progress"] rescue ''%>
  </div>
</div>
           <%#= record.extras["current_step"] rescue '' %> </td>
        <td> <%= record_status(record.status) %> </td>
        <td><%= time_ago_in_words(record.created_at)%> ago </td>
        <td> 
          <%- if record.data and record.form.template.exists? %>
            <%= link_to "Report", record_path(record, format: :pdf), :class=>"btn btn-xs  btn-info" %> </td>
          <% else %>
            <%= link_to "Report", record_path(record, format: :pdf), :disabled => true, :class=>"btn btn-xs  btn-info" %> </td>
          <% end %>
       <td>
        <%= link_to record_path(record), :class=>"btn btn-xs btn-trans btn-info" do %> 
          <i class="fa  fa-eye"></i>
        <% end %>
      </td>
        <td>
          <% if can? :edit, record %>
            <%= link_to "Wizzard", former_path(:step1, :record_id => record.id), :class=> "btn btn-xs btn-primary" %> 
            <%#= link_to "Edit", edit_record_path(record), :class=>"btn btn-xs btn-primary" %> </td>
          <% end %>
          <td>
            <% if can? :destroy, record %>
              <%= button_to  record, method: :delete, data: { confirm: 'Are you sure?'}, :class=>"btn  btn-xs btn-danger" do %>
                <i class="fa fa-trash"></i>
              <% end %>
            <% else %>
            
              <%= button_to  record, method: :delete, data: { confirm: 'Are you sure?' }, :disabled => true, :class=>"btn disabled btn-xs btn-danger" do %>
                <i class="fa fa-trash"></i>
              <% end %>
            <% end %>
         </td>
      </tr>
    <% end %>
  </tbody>
</table> 
    </div>
  <div class="panel-footer">
    <%#= link_to 'New Record', new_record_path, data: { modal: true }, :class=>"btn btn-primary" %>
    <%= link_to 'See Deleted Records', deleted_records_path, :class=> "btn btn-success btn-trans" %>
  </div>
</div>

 
  </div>
  <div class="col-md-3">
   <div class="panel panel-success">    
    <div class="panel-heading">
      <h3 class="panel-title"> Search form </h3>
    </div>
    <div class="panel-body"> 
      <%= search_form_for @q do |f| %>
    <%= f.label :title %>
    <%= f.search_field :title_cont , :class=> "form-control"%>

    <%= f.label :author_email %>
    <%= f.search_field :user_email_cont, :class=> "form-control" %>

    <%= f.label :form %>
    <%= f.search_field :form_name_cont, :class=> "form-control" %>
    
    <%#= f.label :name_or_description_or_email_or_articles_title_cont %>
    <%#= f.search_field :name_or_description_or_email_or_articles_title_cont %>
    <br>
    <%= f.submit "Search", :class=> "btn btn-info btn-block"%>
  <% end %>
  </div>
</div>  
 <div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">Records Import:</h3>
  </div>
  <div class="panel-body">
    <%= form_tag(import_csv_path, multipart: true, :class => "form-inline") do %>
      <div class="form-group">
        <%= file_field_tag :csv_file, :class => "form-control", required: true %>
        <span id="helpBlock" class="help-block">*file should have column headers</span>
      </div>
      <div class="form-group">
        <%= select_tag "form_id", options_from_collection_for_select(Form.all, "id", "name") , :class => "form-control"%>
        <span id="helpBlock" class="help-block">*fields should be equal to headers</span>
      </div>  
        <%= submit_tag 'Click to process', :class => " btn btn-info btn-block"%>
    <% end %>
  </div>
</div>
 
  </div>

</div>

   

