%div.panel.panel-success
  %div.panel-heading
    %h3.panel-title  Records Manage Page
  %div.panel-body
    %hr
    %ol.sortable_tree{ :data => { :max_levels => 3, :rebuild_url => rebuild_records_url } }
      = build_server_tree @records, :type => :sortable
    %p= link_to "Go back to records", records_path, :class=>"btn btn-info"
