<%= content_for :head do %>
  <script>
    $(document).ready(function(){           
     $('.signature_form').signaturePad({ drawOnly: true, lineTop: 190, validateFields: false})
  });
  </script>
<% end %>

<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-success">    
      <div class="panel-heading">
        <h3 class="panel-title"><strong>#<%= @record.id %> <%= record_status(@record.status)%></strong></h3>
      </div>
      <div class="panel-body">   
        <%= render "record_preview"%>       
        <% if @record.status == "awaiting"%>
        <h3 class="bg-danger">Admin Section! </h3>
        <div class="">
          <%= nested_form_for(@record,  :html => {:multipart => true, :class=>"signature_form" }, role: "form") do |f| %>
            <% if @record.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@record.errors.count, "error") %> prohibited this record from being saved:</h2>
                <ul>
                <% @record.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
                </ul>
              </div>
            <% end %>
            <hr>
            <%= f.hidden_field :form_id %>
            <%= f.hidden_field :id %>
            <%#= f.select :status, options_for_select(Record::RECORD_STATUSES)%>

            <div class="form-group ">
              <%= f.label :status %>
              <div class="row">
                <div class="col-xs-12">
                  <%= f.select :status, Record::RECORD_STATUSES.collect {|d| [d.to_s,d.to_s]}, :class=>"form-control" %>
                </div>
              </div>
            </div>
            <div class= "well sig sigWrapper">
              <canvas class= "pad" width="698" height="300">
                <%= f.hidden_field :admin_signature, :value => nil, :class => 'output' %>
              </canvas>
            </div>
        
            <ul class="sigNav">
              <li class="clearButton"><a href="#clear" class="btn btn-default btn-Clear">Clear Signature Pad</a></li>
            </ul>
            <div class="">
              <%= f.submit "Approve", :class=>"btn btn-sm btn-primary" %>
            </div>
          <% end %>

        </div>
      <% end %>
      </div>
      <div class="panel-footer">
        <%= link_to 'Edit', edit_record_path(@record), :class => "btn btn-info" %> 
        <%= link_to 'Back', records_path , :class => "btn btn-danger"%>
      </div>
    </div>
    <hr>
  </div>
</div>
<div class="well">
  <%= render 'records/versions', record: @record %>
</div>
