               
                


<div class="row">
  <div class="col-md-8">
    <%= render 'shared/activities' %>
  </div>
  <div class="col-md-4"> 
    <%= render 'layouts/users_list' %>
  </div>
</div>
