<script>
$(document).ready(function() {
  app.timer();
  //app.weather();
 // app.morrisPie();
});


</script>
<% title("Dashboard") %>
                <!--tiles start-->
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        
                      <div class="dashboard-tile detail tile-blue  ">
                            <div class="content">
                              <h1 class="text-left timer" data-from="0" data-to="<%= Record.drafts.count %>" data-speed="2500"><%= Record.drafts.count %></h1>
                                <p href="<%= drafts_records_path %>" title=""> <i class="fa fa-folder-open"></i>
                                Drafts </p> 
                            </div>
                            <div class="icon"><i class="fa fa-users"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="dashboard-tile detail tile-yellow">
                            <div class="content">
                              <h1 class="text-left timer" data-from="0" data-to="<%= Record.awaiting_response.count %>" data-speed="2500"> <%= Record.awaiting_response.count %></h1>
                            <p > <i class="fa fa-bullhorn"></i>
                              Awaiting </p>   
                            </div>
                            <div class="icon"><i class="fa fa-comments"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="dashboard-tile detail tile-red">
                            <div class="content">
                              <h1 class="text-left timer" data-from="0" data-to="<%= Record.count %>" data-speed="2500"><%= Record.count %></h1>
                               <p href="<%= approved_records_path %>" title=""> <i class="fa fa-book"></i>
                                Records  </p>  
                            </div>
                            <div class="icon"><i class="fa fa fa-envelope"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="dashboard-tile detail tile-purple">
                            <div class="content">
                              <h1 class="text-left timer" data-to="<%= User.online.count %>" data-speed="2500"><%= User.online.count %></h1>
                                <p> <i class="fa fa-book"></i>
                                  Users Online  </p>  
                            </div>
                            <div class="icon"><i class="fa fa-bar-chart-o"></i>
                            </div>
                        </div>
                    </div>
                </div>
                               <div class="row" >
                  <div class="col-md-12">
                    <div style='' class="well">
                      <div id="main_map" style=' height: 400px; width:100%;'></div>
                    </div>
                  </div>
                </div>
      
                <!--tiles end-->
                <!--dashboard charts and map start-->
                <!--dashboard charts and map end-->
                <!--ToDo start-->
          <%#= render 'shared/statistics.html.erb' %>
          <script type="text/javascript">
            
            $( document ).ready(function() {
            var mapStyle = [

//omitted for brevity but find nice one here: http://snazzymaps.com/


    {
        "featureType": "administrative",
        "elementType": "labels.text.fill",
        "stylers": [
            {
                "color": "#444444"
            }
        ]
    },
    {
        "featureType": "administrative.neighborhood",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "visibility": "off"
            },
            {
                "hue": "#17ff00"
            }
        ]
    },
    {
        "featureType": "administrative.neighborhood",
        "elementType": "labels.text.fill",
        "stylers": [
            {
                "visibility": "on"
            }
        ]
    },
    {
        "featureType": "landscape",
        "elementType": "all",
        "stylers": [
            {
                "color": "#f2f2f2"
            }
        ]
    },
    {
        "featureType": "poi",
        "elementType": "all",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "poi.business",
        "elementType": "all",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "poi.business",
        "elementType": "labels.text",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "poi.business",
        "elementType": "labels.text.fill",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "road",
        "elementType": "all",
        "stylers": [
            {
                "saturation": -100
            },
            {
                "lightness": 45
            }
        ]
    },
    {
        "featureType": "road.highway",
        "elementType": "all",
        "stylers": [
            {
                "visibility": "simplified"
            }
        ]
    },
    {
        "featureType": "road.highway",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "color": "#ff0000"
            }
        ]
    },
    {
        "featureType": "road.arterial",
        "elementType": "labels.icon",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "road.local",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "visibility": "on"
            }
        ]
    },
    {
        "featureType": "transit",
        "elementType": "all",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "water",
        "elementType": "all",
        "stylers": [
            {
                "color": "#293949"
            },
            {
                "visibility": "on"
            }
        ]
    }
];

     handler = Gmaps.build('Google');
     
     handler.buildMap({ provider: { styles: mapStyle} , internal: {id: "main_map"}}, function(){
        //  markers = handler.addMarkers(<%=raw @hash.to_json %>);
     markers = handler.addMarkers(<%=raw @hash.to_json %>); 
       handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
      
   
  });
});
</script>
         

