<div class="col-md-6 panel panel-default">
  <div class="panel-body">
    <h2>Enter  subdomain</h2>

    <%= simple_form_for('account', url: '/pages/require_subdomain' )  do |f| %>      
      <%= f.input :subdomain do %>
        <div class="input-group">
          <%= f.input_field :subdomain, class: 'form-control', autofocus: true %>
          <span class="input-group-addon">.crazybooker.dev</span>
        </div>
      <% end %>
      <%= f.button :submit, 'Next >>', class: 'btn-primary' %>
    <% end %>
  </div>
</div>