<div class='row mt'>
  <div class='col-sm-12'>
    <h3> Record #<%= @record.id %></h3>
    <h4><%= "Diff between Version #{@version.id} and Current Version" %></h4>
    <style><%= Diffy::CSS %></style>
    <div class='well diff'>
      <p>
        <strong>Status:</strong>
        <%= diff(@version.reify.status, @record.status) %>
      </p>
      <p>
        <strong>hstore data:</strong>
        <%= diff(@version.reify.data, @record.data) %>
      </p>
    </div>
    <p>
    <%= "Version authored by #{find_version_author_name(@version)} on #{@version.created_at} by '#{@version.event.humanize}'." %>
    </p>
    <hr>
  </div>
</div>
<div class='fr'>
  <%= link_to 'Back', edit_record_path(@record), class: 'btn btn-danger' %>
  <%= link_to 'Rollback', rollback_record_version_path(@record, @version), class: 'btn btn-primary', method: 'PATCH' %>
</div>
