  
  <div class="col-md-6 signin" id="login-wrapper">  
  <div  class="panel panel-primary animated flipInY">
    <div class="panel-heading">
      <h3 class="panel-title">Sign in</h3>
    </div>
    <div class="panel-body">
      <%= simple_form_for(resource, :as => resource_name,
                          :url => session_path(resource_name),
                          wrapper_mappings: { boolean: :vertical_boolean }) do |f| %>
        <%= f.input :email, label: false do %>
          <div class="input-group">
            <%= f.input_field :email, class: 'form-control input-lg', placeholder: 'Email' %>
            <span class="input-group-addon glyphicon glyphicon-user"></span>
          </div>
        <% end %>

        <%= f.input :password, label: false do %>
          <div class="input-group">
            <%= f.input_field :password, class: 'form-control input-lg', placeholder: 'Password' %>
            <span class="input-group-addon glyphicon glyphicon-lock"></span>
          </div>
        <% end %>

        <%= f.input :otp_attempt, label: false do %>
          <div class="input-group">
            <%= f.input_field :otp_attempt, class: 'form-control input-lg', placeholder: 'Otp Attempt' %>
            <span class="input-group-addon glyphicon glyphicon-qrcode"></span>
          </div>
        <% end %>

        <% if devise_mapping.rememberable? -%>
          <%= f.input :remember_me, as: :boolean %>
        <% end -%>

        <%= f.button :submit, "Sign in", class: 'btn btn-info btn-block' %>
      
      <% end %>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
