<% title("Admin") %>
<h3 class="text-muted">Admin <small>Home</small></h3>
<div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="dashboard-tile detail tile-red">
                            <div class="content">
                              <h1 class="text-left timer" data-from="0" data-to="<%= "#{pluralize(Form.count, 'form')}" %>" data-speed="2500"> <%= "#{pluralize(Form.count, 'form')}" %></h1>
                                <p>New Users</p>
                            </div>
                            <div class="icon"><i class="fa fa-users"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="dashboard-tile detail tile-turquoise">
                            <div class="content">
                                <h1 class="text-left timer" data-from="0" data-to="56" data-speed="2500">56</h1>
                                <p>New Comments</p>
                            </div>
                            <div class="icon"><i class="fa fa-comments"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="dashboard-tile detail tile-blue">
                            <div class="content">
                                <h1 class="text-left timer" data-from="0" data-to="32" data-speed="2500">32</h1>
                                <p>New Messages</p>
                            </div>
                            <div class="icon"><i class="fa fa fa-envelope"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="dashboard-tile detail tile-purple">
                            <div class="content">
                                <h1 class="text-left timer" data-to="105" data-speed="2500">105</h1>
                                <p>New Sales</p>
                            </div>
                            <div class="icon"><i class="fa fa-bar-chart-o"></i>
                            </div>
                        </div>
                    </div>
                </div>
<div class="row">
  <div class="col-sm-4">
    <div class="panel-info">
      <div class="panel-heading">
        <h3 class="panel-title"> Menu </h3>
      </div>
      <div class="panel-body"> 
        <h4><%= link_to "Forms", admin_forms_path %> <small>- <%= "#{pluralize(Form.count, 'form')}" %></small></h4>
        <h4><%= link_to "Users", admin_users_path %> <small>- <%= "#{pluralize(User.count, 'form')}" %></small></h4>
        <hr/>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
     <div class="panel-info">
      <div class="panel-heading">
        <h3 class="panel-title"> Last Sign Ups </h3>
      </div>
      <div class="panel-body"> 
        <ul class="list-unstyled">
          <% @last_signups.each do |user| %>
            <li class="list-padded-bottom">
              <%= link_to user.email, edit_admin_user_path(user) %><br/>
              <small><%= time_ago_in_words(user.created_at)%> ago</small>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="panel-success">
      <div class="panel-heading">
        <h3 class="panel-title"> Last Sign Ins </h3>
      </div>
      <div class="panel-body">
        <ul class="list-unstyled">
          <% @last_signins.each do |user| %>
          <li class="list-padded-bottom">
            <%= link_to user.email, edit_admin_user_path(user) %><br/>
            <small>
              <% unless user.last_sign_in_at.nil? %>
              <%= time_ago_in_words(user.last_sign_in_at)%> ago
              <% else %>
              never
              <% end %>
            </small>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

</div>
