<div class="form-group form-group-sm">
  <div class="row">
    <div class="col-xs-3 col-xs-offset-3">
      <%= f.text_field :value, class: "form-control monospaced-control"%>
    </div>
    <div class="col-xs-6">
      <%= f.link_to_remove(:class=>"btn  btn-sm btn-danger btn-trans") do %>
        <i class="fa fa-trash"></i>
      <% end %>
    </div>
  </div>  
</div>

