<%= nested_form_for([:admin,@form], remote: request.xhr?, :html => { data: { modal: true }}, role: "form") do |f| %>
  <% if @form.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@form.errors.count, "error") %> prohibited this form from being saved:</h2>

      <ul>
      <% @form.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="form-group ">
  <%= f.label :name %>
  <div class="row">
    <div class="col-xs-12">
      <%= f.text_field :name, :autofocus => true, class: "form-control monospaced-control", placeholder: "Title (also used for URL slug)..." %>
    </div>
  </div>
</div>
<div class="form-group input-group-sm">
  <%= f.label :description %>
  <div class="row">
    <div class="col-xs-12">
      <%= f.text_field :description,  class: "form-control monospaced-control", placeholder: "Title (also used for URL slug)..." %>
    </div>
  </div>
</div>
<div class="form-group form-group-sm">
  <div class="row">
    <div class="col-xs-12">
      <div class="checkbox">
      <label>
        <%= f.check_box :file_upload,  class: " " %> Enable file upload
      </label>  
      </div>
    </div>
  </div>
</div>

<div class="form-group form-group-sm">
  <div class="row">
    <div class="col-xs-12">
      <div class="checkbox">
      <label>
        <%= f.check_box :signature_required,  class: " " %> Signature Required
      </label>  
      </div>
    </div>
  </div>
</div>
<div class="form-group form-group-sm">
  <div class="row">
    <div class="col-xs-12 checkbox">
      <label>
        <%= f.check_box :admin_signature_required,  class: " " %> Admin Signature Required
      </label>
    </div>
  </div>
</div>
<div class="form-group form-group-sm">
  <div class="row">
    <div class="col-xs-12">
      <%= f.label :template %>
      <p><%= @form.template.exists? ? link_to(@form.template_file_name, "#{@form.template.url}?dl=1") : "-" %></p>
      <%= f.file_field :template,  class: " " %>
    </div>
  </div>
</div>


<h4>Form Steps</h4>
<hr>
<%= f.fields_for :steps %>
<p>
  <%= f.link_to_add(:steps, :class=>'btn btn btn-info ') do %>
    <i class="fa  fa-plus-circle"></i> add step
  <% end %>
</p>
<div class="row">
  <div class="col-xs-12 padded">
    <button class='btn btn-primary'>
      <i class='fa fa-plus-square'></i> Save
    </button> - <%= link_to "Cancel", admin_forms_path, :class=>"btn btn-default" %>
  </div>
</div>

<% end %>

