<div class="form-group form-group-sm button_to input_section">
  <div class="row">
    
      <p class="text-info"><strong>friendly-id: <%= f.object.slug %></strong> </p>
    <div class="col-xs-3">
      <%= f.text_field :name, class: "form-control monospaced-control"%>
    </div>
    <div class="col-xs-2">
        <%#= f.text_field :name, class: "form-control monospaced-control"%>
        <%= f.select "control", Input::CONTROL_TYPES.map{|type| [ type['name'], type['value'] ] }, { :include_blank => "Please Select..." , :class=>"input_select form-control"} ,:class=>"form-control  input_select"%>
    </div>
    <div class="col-xs-3">
      <%= f.label :required %>
      <%= f.check_box :required %>
    </div>
    <div class="col-xs-3">
      <%= f.text_area :help, class: "form-control monospaced-control"%>
    </div>
    <div class="col-xs-1">  
      <%#= f.link_to_remove "Del", :class=>"btn btn-xs  btn-warning" %>
      <%= f.link_to_remove(:class=>"btn  btn-sm btn-danger btn-trans") do %>
        <i class="fa fa-trash"></i>
      <% end %>
    </div>
  </div>  
  <hr>
  <span class="field_relation_section ">
    <div class="row">
      <div class="col-xs-offset-2 col-xs-3">
        <%= f.simple_fields_for :data, OpenStruct.new(f.object.data) do |p| %>
          <%= p.label "Choose related type"%>
          <%= p.select :relation, Form.all.map {|f| [f.name, f.id] }, { :class=> "  form-control"}, :class => "form-control" %>
        <% end %>
      </div>
    </div>
  </span>
  <span class="field_values_section">
  <%= f.fields_for :field_values  %>
  <div class="row"> 
    <div class="col-xs-8 col-xs-offset-2">
      <p>
        <%= f.link_to_add(:field_values, :class=>'btn btn-xs btn-warning btn-trans') do %>
          <i class="fa  fa-plus-circle"></i> add field value
        <% end %>
      </p>
    </div>
  </div>
</div>
<script> 
$( document ).ready(function() {
  $('.input_select').each(function( index ) {
  var selected_input =  $( this ).val();
   switch(selected_input)
  {
    case "dropdown":
    case "checkboxes":
    case "tags":
    case "radio":
      $(this).closest('.input_section').find('.field_relation_section').fadeOut('fast');
      $(this).closest('.input_section').find('.field_values_section').fadeIn('fast');
    break;
    case 'relation':
      $(this).closest('.input_section').find('.field_values_section').fadeOut('fast');
      $(this).closest('.input_section').find('.field_relation_section').fadeIn('fast');
    break;
    default:
      $(this).closest('.input_section').find('.field_values_section').fadeOut('fast');
      $(this).closest('.input_section').find('.field_relation_section').fadeOut('fast');
      break;

 }
});
  $(".input_select").change(function() {
    var n = $(this).val();
    switch(n)
  {
    case "text_field":
    case "text_area":
    case "phone":
    case "email":
      $(this).closest('.input_section').find('.field_values_section').fadeOut('fast');
      $(this).closest('.input_section').find('.field_relation_section').fadeOut('fast');
      break;
    case 'relation':
      $(this).closest('.input_section').find('.field_values_section').fadeOut('fast');
      $(this).closest('.input_section').find('.field_relation_section').fadeIn('fast');
    break;
    default:
      $(this).closest('.input_section').find('.field_relation_section').fadeOut('fast');
      $(this).closest('.input_section').find('.field_values_section').fadeIn('fast');
    break;
 }
});
});

</script>
