<div class="form-group form-group-sm well">
  <div class="row">
    <div class="col-xs-3">
      <%= f.text_field :name, class: "form-control monospaced-control"%>
    </div>
    <div class="col-xs-3">
      <%= f.link_to_remove(:class=>"btn  btn-sm btn-danger btn-trans") do %>
        <i class="fa fa-trash"></i>
      <% end %>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-xs-offset-1 col-xs-11">
      <%= f.fields_for :inputs  %>
      <p>
        <%= f.link_to_add(:inputs, :class=>'btn btn-xs btn-success btn-trans ') do %>
          <i class="fa  fa-plus-circle"></i> add input
        <% end %>
      </p>

    </div>
  </div>

</div>

