 <div class="form-group form-group-sm">
    <div class="row">
      <div class="col-xs-3">
        <%= f.number_field :number, class: "form-control monospaced-control"%>
      </div>
      <div class="col-xs-6">
        <%= f.text_field :title, class: "form-control "%>
      </div>
      <div class="col-xs-3">
        <%= f.link_to_remove(:class=>"btn  btn-sm btn-danger btn-trans") do %>
          <i class="fa fa-trash"></i>
        <% end %>
      </div>
    </div>  <!-- /row -->
   
    <div class="row">
      <div class="col-xs-offset-1 col-xs-11">
        <h4 class="text-info"> Modals </h4>
        <hr>
        <div >
          <%= f.fields_for :slave_forms %>
        </div>
        <p>
        <%= f.link_to_add(:slave_forms, :class=>'btn btn-sm btn-trans btn-success ') do %>
          <i class="fa  fa-plus-circle"></i> add nested form
        <% end %>
      </p>

      </div>
    </div>
 
    <div class="row">
      <div class="col-xs-offset-1 col-xs-11">
        <h4 class="text-info"> Inputs </h4>
        <hr>
        <%= f.fields_for :inputs  %>
        <p>
        <%= f.link_to_add(:inputs, :class=>'btn btn-sm btn-trans btn-success ') do %>
          <i class="fa  fa-plus-circle"></i> add input
        <% end %>
      </p>
      </div>
    </div>
  
  </div>
