<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">Editing Form</h3>
  </div>
  <div class="panel-body">
    <%= render 'form' %>
  </div>
  </div>
<%#= link_to 'Show', @form %> 
<%#= link_to 'Back', forms_path %>
