<p id="notice"><%= notice %></p>


<div class="col-md-9">
  <div class="panel panel-success">
    <div class="panel-heading">
      <h3 class="panel-title">Forms</h3>
    </div>
    <div class="panel-body">
      <table class="table table-hover table  table-striped">
        <thead>
          <tr>
            <th><%= sort_link(@q, :title)%></th>
            <th> PDF Template</th>
            <th> <%= sort_link(@q, :description)%></th>
            <th> <%= sort_link(@q, :created_at)%> </th>
            <th colspan="3" style="width:10%;"></th>
          </tr>
        </thead>
        <tbody>
          <% @forms.each do |form| %>
            <tr>
              <td><strong><%= link_to form.name, edit_admin_form_path(form), :class =>"" %></strong></td>
              <td><%= form.template.exists? ? link_to(form.template_file_name, "#{form.template.url}?dl=1") : "-" %></td>
              <td><%= form.description %></td>
              <td><%= time_ago_in_words(form.created_at)%> ago </td>
              <td><%= link_to 'sample.tlf', admin_form_path(form, :format => :tlf) , :class =>"btn btn-xs btn-trans btn"%> </td>
              <td><%= link_to 'Edit', edit_admin_form_path(form) , :class =>"btn btn-xs btn-success btn-trans"%> </td>
              <td><%= button_to 'Destroy', admin_form_path(form), method: :delete, data: { confirm: 'Are you sure?' } ,:class =>"btn btn-xs btn-danger"%></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <hr>
      <%= link_to 'New Form', new_admin_form_path, data: { modal: true }, :class=>"btn btn-trans btn-success " %>
    </div>
  </div>
</div>

<div class="col-md-3">
   <div class="panel panel-success">    
    <div class="panel-heading">
      <h3 class="panel-title"> Search form </h3>
    </div>
    <div class="panel-body"> 
      <%= search_form_for [:admin,@q] do |f| %>
    <%= f.label :name %>
    <%= f.search_field :name_cont , :class=> "form-control"%>
    
    <%= f.label :description %>
    <%= f.search_field :description_cont , :class=> "form-control"%>
    <%#= f.label :name_or_description_or_email_or_articles_title_cont %>
    <%#= f.search_field :name_or_description_or_email_or_articles_title_cont %>
    <br>
    <%= f.submit "Search", :class=> "btn btn-info btn-block"%>
  <% end %>
  </div>
</div>  
