<li class="list-group-item">
  <span class="glyphicon glyphicon-plus"></span>
  <small class="text-muted"><%= a.created_at.strftime('%H:%M:%S %-d %B %Y') %></small><br/>
  <strong><%= activity.owner ? activity.owner.forename : 'Guest' %></strong>
  <% if a.trackable %>
    xxxxxUser <%=  a.trackable.email %> loged in.
  <% else %>
    added the user that is currently deleted.
  <% end %>
</li>
