<%= render partial: 'shared/activity_item', 
   :locals => {
  :content =>"#{a.trackable.forename} logged out" ,
    :created_at => "#{ a.created_at.strftime('%H:%M:%S %-d %B %Y') }" ,
    :activity_author => "#{ a.owner ? activity.owner.email : 'Guest' }",
    :activity_key => "#{a.key}" }
      %>


