 
 <%= render partial: 'shared/activity_item', 
   :locals => {
   :content =>"User #{ a.trackable.username } (#{ a.trackable.email }) logged in from #{ a.parameters[:current_sign_in_ip]}  " ,
      :created_at => "#{ a.created_at.strftime('%H:%M:%S %-d %B %Y') }",
      :activity_key => a.key
 }
      %>


