<li class="list-group-item">
  <span class="glyphicon glyphicon-edit"></span>
  <small class="text-muted"><%= a.created_at.strftime('%H:%M:%S %-d %B %Y') %></small><br/>
  <strong><%= activity.owner ? activity.owner.forename : 'Guest' %></strong>
  <% if a.trackable %>
    edited the user <%= a.trackable.email %>.
  <% else %>
    edited the user that is currently deleted.
  <% end %>
</li>
