  <%= render partial: 'shared/activity_item', 
   :locals => {
    :content =>"User destroyed record " ,
    :created_at => "#{ a.created_at.strftime('%H:%M:%S %-d %B %Y') }" ,
    :author_avatar => "#{ a.owner.avatar.url(:thumb)}",
    :activity_key => "#{a.key}" }
  %>


