<%= render partial: 'shared/activity_item', 
   :locals => {
    :content =>" updated  #{  link_to "record##{a.trackable.id}", a.trackable } " ,
    :created_at => "#{ a.created_at.strftime('%H:%M:%S %-d %B %Y') }" ,
    :activity_author => "#{ a.owner ? activity.owner.email : 'Guest' }",
    :author_avatar => "#{ a.owner.avatar.url(:thumb)}",
    :activity_key => "#{a.key}" }
      %>


