<% title("Users Admin") %>
<p><%= link_to "Back to Admin", admin_root_path, :class=> "btn btn-default" %></p>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-success">    
        <div class="panel-heading">
          <h3 class="panel-title"> Users <small>Admin</small></h3>
        </div>
        <div class="panel-body"> 

          <div class="text-center">
            <p><%= page_entries_info @users %></p>
            <%= paginate @users %>
          </div>

          <%= form_tag admin_users_path, method: 'get', html: {role: "form"} do %>
          <p>
            <%= text_field_tag :search, params[:search] %>
            <%= submit_tag "Search", :name => nil, class: "btn btn-sm btn-primary" %>
            <%= link_to "All", admin_users_path, {class: "btn btn-sm btn-link"} %>
          </p>
          <% end %>

          <table class="table table-striped  table-hover  ">
            <thead>
              <tr>
                <th>User ID</th>
                <th>Email</th>
                <th>Admin</th>
                <th>Locked</th>
                <th>Sign In Count</th>
                <th>Created At</th>
                <th>Last Sign In</th>
                <th>Last Sign In IP</th>
              </tr>
            </thead>
            <% @users.each do |user| %>

            <tr>
              <td><%= user.id %></td>
              <td><%= link_to user.email, admin_user_path(user) %></td>
              <td><%= user.admin? ? "<b>yes</b>".html_safe : "no" %></td>
              <td><%= user.locked? ? "<b>yes</b>".html_safe : "no" %></td>
              <td><%= user.sign_in_count %></td>
              <td><%= time_ago_in_words(user.created_at) %></td>
              <% unless user.last_sign_in_at.nil? %>
              <td><%= time_ago_in_words(user.last_sign_in_at)%> ago</td>
              <% else %>
              <td>never</td>
              <% end %>
              <td><%= user.last_sign_in_ip %></td>
            </tr>

            <% end %>

          </table>

          <div class="text-center">
            <p><%= page_entries_info @users %></p>
            <%= paginate @users %>
          </div>

          <br />

          <%= form_for(User.new, url: admin_invite_user_path) do |f| %>
          <p>
            <%= f.text_field :email, placeholder: 'Email' %>
            <%= f.submit "Invite", :name => nil, class: "btn btn-sm btn-primary" %>  
          </p>
        <% end %>
      </div>
    </div>
  </div>
</div>
