<script type="text/javascript">
    $(document).ready(function() {
    $('.dropdown-menu').click(function(event){
     event.stopPropagation();
 });
    
    
    $('.quick-record-decline').click(function(e) {
            var addressValue = $(this).attr("href");
            var that = this;
            e.preventDefault();  
            $.ajax({
                type:'GET',
                url:addressValue,
                cache:false,
                success: function(response) {
                  $(that).parent().parent().fadeOut();
                }
            });
             
        });
    $('.quick-record-accept').click(function(e) {
            var addressValue = $(this).attr("href");
            var that = this;
            e.preventDefault();  
            $.ajax({
                type:'GET',
                url:addressValue,
                cache:false,
                success: function(response) {
                  $(that).parent().parent().fadeOut();
                }
            });
             
        });
    });
</script>
<!--logo start-->
            <div class="brand">
                <a href="index.html" class="logo"><span>Space</span>Lab</a>
            </div>
            <!--logo end-->
            <div class="toggle-navigation toggle-left">
                <button type="button" class="btn btn-default" id="toggle-left" data-toggle="tooltip" data-placement="right" title="Toggle Navigation">
                    <i class="fa fa-bars"></i>
                </button>
            </div>
            <div class="user-nav">
                <ul>
                    <li class="dropdown messages">
                    <span class="badge badge-danager animated bounceIn" id="new-messages"><%= Record.awaiting_response.count %></span>
                        <button type="button" class="btn btn-default dropdown-toggle options" id="toggle-mail" data-toggle="dropdown">
                            <i class="fa fa-bullhorn"></i>
                        </button>
                        <ul class="dropdown-menu alert animated fadeInDown">
                            <li>
                            <h1>You have <strong><%= Record.awaiting_response.count %></strong> awaiting response</h1>
                            </li>
                            <% Record.awaiting_response.includes(:user, :form).find_each do |record| %>
                            <li>
                            <a href="<%= record_path(record) %>">
                                    <div class="profile-photo">
                                          <img src="<%= record.user.avatar.url(:thumb)%>" class="img-circle">
                                    </div>
                                    <div class="message-info">
                                      <span class="sender"><%= record.user.email %></span>
                                      <span class="time"> <%= time_ago_in_words(record.created_at)%> ago</span>
                                      <div class="message-content"><%= record.form.name %>
                                      
                                      <div class=" pull-right"> <%= record_status(record.status) %> </div>
                                      </div>
                                      <div class="message-content"><%= record.form.description %></div>
                                    </div>
                                   <div class="col-md-6">
                                    <%= link_to "Accept",  accept_approvement_records_path(:record_id => record.id), :class=>"quick-record-accept btn btn-xs btn-info btn-block" %> </td>
                                </div>
                                <div class="col-md-6">
                                  <%= link_to "Decline", cancel_approvement_records_path(:record_id => record.id), :class=>"quick-record-decline btn btn-xs btn-block btn-danger" %> </td>
                                </div>
                                  </a>
                             
                            </li>
                            <% end %>
                             <li><a href="awaiting_approvement_records_path">Check all requests <i class="fa fa-angle-right"></i></a>
                            </li>
                          </ul>
                          
                    </li>
                    <li class="profile-photo">
                      <%= image_tag current_user.avatar.url(:thumb), :class=> "img-circle" %>
                    </li>
                    <li class="dropdown settings">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                          <%= current_user.forename %> <i class="fa fa-angle-down"></i>
                    </a>
                        <ul class="dropdown-menu animated fadeInDown">
                          
                          <% if current_user.admin? %>
                           <li>
                            <a href="<%= admin_root_path%>"><i class="fa fa-cogs"></i> Administration</a>
                            </li>
                          <% end %>
                           <li>
                            <a href="<%= edit_user_registration_path%>"><i class="fa fa-user"></i> Profile</a>
                            </li>
                            <li>
                            <a href="<%= admin_forms_path %>"><i class="fa fa-calendar"></i> Forms</a>
                            </li>
                            <li>
                            <a href="<%= records_path %>"><i class="fa fa-calendar"></i> Records</a>
                            </li>
                            <li><%= link_to "Sign out", destroy_user_session_path, data:{method: :delete} %></li>
                        </ul>
                    </li>
                    <li>
                   <div class="toggle-navigation toggle-right">
                            <a href="#right-menu" class="btn btn-default" id="toggle-right">
                                <i class="fa fa-rocket"></i>
                            </a>
                        </div>
                    </li>

                </ul>
            </div>
