<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title><%= @title || "Booker" %></title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= favicon_link_tag 'apple-touch-icon.png', rel: 'apple-touch-icon', type: 'image/png' %>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <!-- Favicon -->
  <link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon">
  <!-- Bootstrap core CSS -->
  <!--link rel="stylesheet" href="/assets/plugins/bootstrap/css/bootstrap.min.css"-->
  <!-- Switchery -->
  <!-- Custom styles for this theme -->
  <!--link rel="stylesheet" href="/assets/main.css"-->
  <!-- Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900,300italic,400italic,600italic,700italic,900italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  <!-- Feature detection -->
  <%= javascript_include_tag "application", "data-turbolinks-track" => false %>
   <link href="http://annotorious.github.io/latest/themes/dark/annotorious-dark.css" rel="stylesheet" type="text/css" />
    <link href="http://annotorious.github.io/latest/anno-parse-plugin.css" rel="stylesheet" type="text/css" />
    <script src="http://www.parsecdn.com/js/parse-1.2.8.min.js"></script>
    <script type="text/javascript" src="http://annotorious.github.io/latest/annotorious.min.js"></script>
    <script type="text/javascript" src="http://annotorious.github.io/latest/anno-parse-plugin.js"></script>
    <script>
      anno.addPlugin('Parse', { app_id: 'TwYltjxRhqIs9Cdv7dV4kQD1iiNzUPhitFLoTThh', js_key: 'bRGGqst5qhaUWK85OnABnz5ucrB6nMcsvS6Wn2RK' });
    </script>
    
<script src="//maps.google.com/maps/api/js?v=3.18&sensor=false&client=&key=AIzaSyCSR-XUO1qkVxwgiKOYXfeO2mngbeeI-cY&libraries=geometry,places&language=&hl=&region="></script> 
<script src="//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js"></script>
<script src='//google-maps-utility-library-v3.googlecode.com/svn/tags/infobox/1.1.9/src/infobox_packed.js' type='text/javascript'></script> <!-- only if you need custom infoboxes -->
<%= yield :script %>
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="assets/js/html5shiv.js"></script>
  <script src="assets/js/respond.min.js"></script>
  <![endif]-->

