<% if !user_signed_in? %>
<li><%= link_to "Sign in", new_user_session_path %></li>
<li><%= link_to "Sign up", new_account_url(:subdomain => false) %></li>
<% else %>

<% if current_user.admin? %>
<li><%= link_to "Dashboard", admin_root_path %></li>
<li><%= link_to "Forms", admin_forms_path %></li>
<% end %>

<li><%= link_to "Records", records_path %></li>

<li><%= link_to "Edit your account", edit_user_registration_path %></li>

<% if !current_user.otp_required_for_login %>
<li> <%= link_to "Enable 2FA", qrc_enable_otp_path, :method => :post %> </li>
<% end %>

<% if current_user.otp_required_for_login %>
<li><%= link_to "Disable 2FA", qrc_disable_otp_path, :method => :post %> </li>
<% end %>

<li><%= link_to "Sign out", destroy_user_session_path, data:{method: :delete} %></li>
<% end %>
