<h4  class="bg-success">Nested Records</h4>

<div class="panel panel-default">    
    <div class="panel-body">      
      
    <% @record.children.group_by(&:form).each do |group| %>
      <%- column_headers =  group.first.column_headers %>
      <h4> <%= group.first.name %></h4>
      <table class="table  table-condensed table-hover">
      <thead>
        <tr>
          <th>Type</th>
          <th>Id</th>
          <% column_headers.each do |header| %>
            <th><%= header %></th>
          <% end %>
          <th>Created by</th>
        </tr>
      </thead>
      <tbody>
        <% group.last.each do |record| %>
          <tr>
            
            <td><strong><%= record.form.name rescue ''%></strong></td>
            <td><strong><%= link_to "##{record.id}", edit_record_path(record) %> </strong></td>
            <%- column_headers.each do |column_header| %>
              <td><strong><%= record.data[column_header] rescue ''%></strong></td>
            <% end %>  
            <td><%= time_ago_in_words(record.created_at)%> ago by <%= record.user.email rescue nil %> </td>
            <td style="width: 5%;"><%= link_to 'Destroy', record, method: :delete, data: { confirm: 'Are you sure?' }, :class=>"btn btn-xs btn-danger" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>  
</div>
  <div class="panel-footer">
    <div class="row">
      <div class="col-md-3">
      <%= form_tag new_record_path do %>
      <%= select_tag  'form_id', options_from_collection_for_select(Form.all, "id", "name") , :class=>"form-control input-sm" %>
    <% end %>
    </div>
    <div class="col-md-3">
    <%= link_to 'New Record', new_record_path(:parent_id => @record.id), data: { modal: true }, :class=>"go-btn btn btn-info btn-xs" %>
    </div>
  </div>
  </div>
</div>
<script>
$(function () {
  $('.go-btn').click(function() {
    var selected = $('#form_id option:selected');
    if (selected.length) {
        // Do something with your selection
        var link = $('.go-btn').attr('href');
        var finalUrl =  link + "?form_id=" + selected.val();
        $('.go-btn').attr('href', finalUrl);
    }
  });

    })
  </script>
