 <div class="sidebarRight">
                <div id="rightside-navigation">
                    <div id="right-panel-tabs" role="tabpanel">
                        <ul class="nav nav-tabs nav-justified" role="tablist">
                            <li class="active"><a data-target="#chat" data-toggle="tab" role="tab" data-toggle="tab" title="Chat"><i class="icon-users fa-lg"></i></a>
                            </li>
                            <li><a data-target="#settings" role="tab" data-toggle="tab" title="Settings"><i class="icon-settings fa-lg"></i></a>
                            </li>

                        </ul>
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="chat">
                                <div class="heading">
                                    <ul>
                                        <li>
                                            <input type="text" class="search" placeholder="Search">
                                            <button type="submit" class="btn btn-sm btn-search"><i class="fa fa-search"></i>
                                            </button>
                                        </li>
                                    </ul>
                                </div>

                                <h3 class="sidebar-title">online</h3>
                                <div class="list-contacts">
                                    <a href="javascript:void(0)" class="list-item">
                                        <div class="list-item-image">
                                            <img src="assets/img/avatar.gif" class="img-circle">
                                        </div>
                                        <div class="list-item-content">
                                            <h4>James Bagian</h4>
                                            <p>Los Angeles, CA</p>
                                        </div>
                                        <div class="item-status item-status-online"></div>
                                    </a>
                                    <a href="javascript:void(0)" class="list-item">
                                        <div class="list-item-image">
                                            <img src="assets/img/avatar1.gif" class="img-circle">
                                        </div>
                                        <div class="list-item-content">
                                            <h4>Jeffrey Ashby</h4>
                                            <p>New York, NY</p>
                                        </div>
                                        <div class="item-status item-status-online"></div>
                                    </a>
                                    <a href="javascript:void(0)" class="list-item">
                                        <div class="list-item-image">
                                            <img src="assets/img/avatar2.gif" class="img-circle">
                                        </div>
                                        <div class="list-item-content">
                                            <h4>John Douey</h4>
                                            <p>Dallas, TX</p>
                                        </div>
                                        <div class="item-status item-status-online"></div>
                                    </a>
                                    <a href="javascript:void(0)" class="list-item">
                                        <div class="list-item-image">
                                            <img src="assets/img/avatar3.gif" class="img-circle">
                                        </div>
                                        <div class="list-item-content">
                                            <h4>Ellen Baker</h4>
                                            <p>London</p>
                                        </div>
                                        <div class="item-status item-status-away"></div>
                                    </a>
                                </div>

                                <h3 class="sidebar-title">offline</h3>
                                <div class="list-contacts">
                                    <a href="javascript:void(0)" class="list-item">
                                        <div class="list-item-image">
                                            <img src="assets/img/avatar4.gif" class="img-circle">
                                        </div>
                                        <div class="list-item-content">
                                            <h4>Ivan Bella</h4>
                                            <p>Tokyo, Japan</p>
                                        </div>
                                        <div class="item-status"></div>
                                    </a>
                                    <a href="javascript:void(0)" class="list-item">
                                        <div class="list-item-image">
                                            <img src="assets/img/avatar5.gif" class="img-circle">
                                        </div>
                                        <div class="list-item-content">
                                            <h4>Gerald Carr</h4>
                                            <p>Seattle, WA</p>
                                        </div>
                                        <div class="item-status"></div>
                                    </a>
                                    <a href="javascript:void(0)" class="list-item">
                                        <div class="list-item-image">
                                            <img src="assets/img/avatar6.gif" class="img-circle">
                                        </div>
                                        <div class="list-item-content">
                                            <h4>Viktor Gorbatko</h4>
                                            <p>Palo Alto, CA</p>
                                        </div>
                                        <div class="item-status"></div>
                                    </a>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="settings">
                                <ul class="setting-list">
                                    <li>
                                        <h3 class="sidebar-title">Account Settings</h3>
                                    </li>
                                    <li>
                                        <h5>Share your status</h5>
                                        <input type="checkbox" class="js-switch" checked />
                                    </li>
                                    <li>
                                        Vivamus sagittis lacus vel augue laoreet rutrums.
                                    </li>
                                    <li>
                                        <h5>Notifications</h5>
                                        <input type="checkbox" class="js-switch" />
                                    </li>
                                    <li>
                                        Vivamus sagittis lacus vel augue laoreet rutrums.
                                    </li>
                                    <li>
                                        <h5>Vacation responder</h5>
                                        <input type="checkbox" class="js-switch" checked />
                                    </li>
                                    <li>
                                        Vivamus sagittis lacus vel augue laoreet rutrums.
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

