<!--sidebar left start-->
<nav style="background-color: #293949;" class="sidebar sidebar-left">
        <h5 class="sidebar-header">Navigation</h5>
        <ul class="nav nav-pills nav-stacked">
          <li> <a href="<%= inside_path %>" title=""> <i class="icon-speedometer"></i>
              Dashboard</a> </li>
            
          <li> <a href="<%= activity_path %>" title=""> <i class="icon-speedometer"></i>
              Activity</a> </li>
            
          <li> <a href="<%= drafts_records_path %>" title=""> <i class="fa fa-folder-open"></i>
            Drafts <span class="badge badge-info"><%= Record.drafts.count %></span></a> </li>
          <li> <a href="<%= awaiting_approvement_records_path %>" title=""> <i class="fa fa-bullhorn"></i>
              Awaiting Response  <span class="badge badge-warning"><%= Record.awaiting_response.count %></span></a> </li>
          <li> <a href="<%= approved_records_path %>" title=""> <i class="fa fa-book"></i>
              Records <span class="badge badge-success"><%= Record.approved.count %></span> </a> </li>
            <% Form.master.find_each do |form| %>
              <li class="nav-dropdown"> <a href="#" title=""> <i class="fa fa-file-text-o"></i>
                <%= form.name %></a>
                <ul class="nav-sub">
                  <li><a href="<%= create_record_path(:form_id => form.id) %>">Add new</a></li>
                  <li><a href="<%= approved_records_path%>?utf8=%E2%9C%93&q%5Bform_id_eq%5D=<%=form.id%>&commit=Search">View</a> </li>
                </ul>
              </li>

            <% end %>
            
            <li class="nav-dropdown"> <a href="#" title=""> <i class="fa fa-file-text-o"></i>
                Docs</a>
              <ul class="nav-sub">
                <% Supplement.find_each do |supplement|%>
                  <li><a href="<%= supplement_path(supplement) %>"><%= supplement.title %></a></li>
                <% end %>  
                  <li><a href="<%= new_supplement_path%>">Add Doc</a> </li>
                </ul>
              </li>

          
          </ul>
      </nav>

