<div class="well">
                <div id="">
                    <div id="" >
                        <div class="tab-content">
                            <div  class="tab-pane active" >
                                

                              <h3 class="sidebar-title">online</h3>
                              <hr />
                                <div class="list-contacts">
                                  <%- User.online.each do |user| %>
                                    <a href="javascript:void(0)" class="list-item">
                                          <div class="list-item-image ">
                                              <%= image_tag user.avatar.url(:thumb), :class=> "img-circle" %>
                                          </div>
                                          <div class="list-item-content">
                                            <h4><%= user.forename %></h4>
                                          </div>
                                          <div class="item-status item-status-online"></div>
                                      </a>
                                    <% end %>
                                  </div>

                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>

