

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
  <!--script src="/assets/js/jquery-1.10.2.min.js"></script-->
  <%= render 'layouts/head_content' %>
  <%= yield :head %>
</head>

<body class="off-canvas">
  
  <div id="container">
      <header id="header">
      <% if user_signed_in? %>
        <%= render 'layouts/header' %>
      <% end %>  
      </header>
          <!--sidebar left end-->
      <% if user_signed_in? %>
        <%= render 'layouts/sidebar' %>
      <% end %>  
          <!--main content start-->
          <section class="main-content-wrapper">
            <section id="main-content">
            <div class="row">
          <!--p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p-->
        
                      <div class="container">
                        <div class="row col-md-12" >
                          <%=  render_breadcrumbs  %>
                          <hr>
                        </div>
                    </div>
                </div>
                <div id="modal-holder" ></div>
                <%= yield %>
           </section>
        </section>
  </div>
        <!--main content end-->
        
        <!--sidebar right start-->
        <%= render 'layouts/right_sidebar' %>
        <!--sidebar right end-->
    <!--Global JS-->
    </body>
</html>
