
<!DOCTYPE html>
<html lang="en-US">
<head>
<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>Alaska - SEO WHMCS Hosting, Shop, Business Theme | An Awesome WordPress Hosting Theme | Just another WordPress site</title>
<meta name="viewport" content="width=device-width">
<link rel="shortcut icon" href="images/favicon.png"/>
<link rel='stylesheet' id='config-css' href='css/ts-config.css' type='text/css' media='all'/>
<link rel='stylesheet' id='mailchimp-checkbox-css' href='css/checkbox.min.css' type='text/css' media='all'/>
<link rel='stylesheet' id='font-awesome.min-css' href='css/font-awesome.min.css' type='text/css' media='all'/>
<link rel='stylesheet' id='jquery.flipcountdown-css' href='css/jquery.flipcountdown.css' type='text/css' media='all'/>
<link rel='stylesheet' id='jquery-ui-css' href='css/jquery-ui.css' type='text/css' media='all'/>
<link rel='stylesheet' id='bootstrap.min-css' href='css/bootstrap.min.css' type='text/css' media='all'/>
<link rel='stylesheet' id='owl.carousel-css' href='css/owl.carousel.css' type='text/css' media='all'/>
<link rel='stylesheet' id='easy-responsive-tabs-css' href='css/easy-responsive-tabs.css' type='text/css' media='all'/>
<link rel='stylesheet' id='jquery.circliful-css' href='css/jquery.circliful.css' type='text/css' media='all'/>
<link rel='stylesheet' id='cubeportfolio.min-css' href='css/cubeportfolio.min.css' type='text/css' media='all'/>
<link rel='stylesheet' id='megamenu-css' href='css/megamenu.css' type='text/css' media='all'/>
<link rel='stylesheet' id='styles-css' href='css/styles.css' type='text/css' media='all'/>
<link rel="stylesheet" id="custom-css" href="css/mobile.css" type="text/css" media="all"/>
<!--[if IE 8]><link rel="stylesheet" type="text/css" href="css/vc-ie8.css" media="screen"><![endif]-->
<link rel='stylesheet' href='css/layout.css' type='text/css' media='all'/>
<link rel='stylesheet' id='redux-google-fonts-css' href='http://fonts.googleapis.com/css?family=Roboto%3A300%2C500%2C400%2C100&#038;ver=1428634381' type='text/css' media='all'/>
</head>
<body>
 
<div id="wrapper">
 
<header>
<div class="top-header">
<div class="container">
<div class="row">
<div class="top-social col-sm-4">
<div class="social-top">
<ul class="social">
<li class="bounceIn animated"><a target="_blank" href="http://facebook.com"><i class="fa fa-facebook"></i></a></li>
<li class="bounceIn animated"><a target="_blank" href="http://twitter.com"><i class="fa fa-twitter"></i></a></li>
<li class="bounceIn animated"><a target="_blank" href="http://plus.google.com"><i class="fa fa-google-plus"></i></a></li>
<li class="bounceIn animated"><a target="_blank" href="#"><i class="fa fa-skype"></i></a></li>
</ul>
</div>
</div>
<div class="top-info col-sm-8 pull-right">
<div id="flags_language_selector"></div>
<ul>
<li><a href="#"><i class="fa fa-exclamation-circle"></i>Support</a></li>
<li><a href="#"><i class="fa fa-envelope"></i>Email Us</a></li>
<li><a href="#"><i class="fa fa-phone"></i>1234-567-89000</a></li>
</ul>
</div>
</div>
</div>
</div>
<a class="toggle-bar-btn fade-toggle hidden-phone" href="#"><span class="ts-infobar infobar-up"></span></a>
<div class="main-header">
<div class="container">
<div class="logo">
<h1><a href="index.html" class="ariva_logo"><img src="images/logo.png" alt="Alaska - SEO WHMCS Hosting, Shop, Business Theme | An Awesome WordPress Hosting Theme"></a></h1>
</div>
<a href="#" class="mobile-navigation"><i class="fa fa-bars"></i></a>
<div class="pull-right ts-mainmenu">
<nav class="main-menu nav-menu">
<ul id="menu-main-menu" class="menu-nav list-inline ts-response-simple ts-response-stack ts-effect-slide-top">
<li class="menu-item  current-menu-parent menu-item-has-children  dropdown">
<a title="Home" href="index.html" data-toggle="dropdown" class="dropdown-toggle" aria-haspopup="true">Home</a>
<ul role="menu" class=" dropdown-menu">
<li class="menu-item current-menu-item page_item  active"><a title="Home Version 1" href="index.html"><i class="fa fa-pagelines"></i>Home Version 1</a></li>
<li class="menu-item"><a title="Home Version 2" href="homepage2.html"><i class="fa fa-bug"></i>Home Version 2</a></li>
<li class="menu-item"><a title="Home Version 3" href="homepage3.html"><i class="fa fa-rocket"></i>Home Version 3</a></li>
<li class="menu-item"><a title="Home Version 4" href="homepage4.html"><i class="fa fa-tree"></i>Home Version 4</a></li>
<li class="menu-item"><a title="Home Version 5" href="homepage5.html"><i class="fa fa-leaf"></i>Home Version 5</a></li>
<li class="menu-item"><a title="Home corporate" href="homepage6.html"><i class="fa fa-suitcase"></i>Home corporate</a></li>
<li class="menu-item"><a title="Home Version 6 (New)" href="1791-2.html"><i class="fa fa-institution"></i>Home Version 6 (New)</a></li>
<li class="menu-item"><a title="Home Version 7 (New)" href="homepage10.html"><i class="fa fa-sun-o"></i>Home Version 7 (New)</a></li>
<li class="menu-item"><a title="Home Version 8 (New)" href="homeversion11.html"><i class="fa fa-tachometer"></i>Home Version 8 (New)</a></li>
</ul>
</li>
<li class="menu-item  menu-item-has-children  dropdown">
<a title="Pages" href="#" class="dropdown-toggle">Pages</a>
<ul role="menu" class="dropdown-menu">
<li class="menu-item "><a title="About us" href="about.html"><i class="fa fa-users"></i>About us</a></li>
<li class="menu-item "><a title="Services" href="services-2.html"><i class="fa fa-codepen"></i>Services</a></li>
<li class="menu-item "><a title="Teams" href="teams.html"><i class="fa fa-female"></i>Teams</a></li>
<li class="menu-item "><a title="Pricing table" href="pricing-table.html"><i class="fa fa-bar-chart-o"></i>Pricing table</a></li>
<li class="menu-item "><a title="F.A.Q page" href="faq.html"><i class="fa fa-info-circle"></i>F.A.Q page</a></li>
<li class="menu-item "><a title="Contact us" href="contact.html"><i class="fa fa-paper-plane-o"></i>Contact us</a></li>
</ul>
</li>
<li class="menu-item menu-item-has-children dropdown">
<a title="Shortcodes" href="#" class="dropdown-toggle">Shortcodes</a>
<ul role="menu" class=" dropdown-menu">
<li class="menu-item"><a title="Typography" href="shortcodes.html">Typography</a></li>
<li class="menu-item"><a title="Tabs and Toggles" href="tabs-and-toggles.html">Tabs and Toggles</a></li>
<li class="menu-item"><a title="Content box" href="content-box.html">Content box</a></li>
<li class="menu-item"><a title="Dividers" href="dividers.html">Dividers</a></li>
<li class="menu-item"><a title="Counters" href="counters.html">Counters</a></li>
<li class="menu-item"><a title="Notifications" href="notifications.html">Notifications</a></li>
<li class="menu-item "><a title="Buttons" href="buttons.html">Buttons</a></li>
<li class="menu-item"><a title="Columns" href="columns.html">Columns</a></li>
<li class="menu-item "><a title="Icons &amp; social" href="social.html">Icons &#038; social</a></li>
<li class="menu-item"><a title="Promotional banner" href="promotional-banner.html">Promotional banner</a></li>
</ul>
</li>
<li class="menu-item menu-item-has-children dropdown">
<a title="WHMCS" href="#" class="dropdown-toggle">WHMCS</a>
<ul role="menu" class="dropdown-menu">
<li class="menu-item"><a title="WHMCS-bridge" href="whmcs-bridge.html">WHMCS-bridge</a></li>
<li class="menu-item"><a title="WHMCS Knowledgebase Page" href="knowledgebase.html">WHMCS Knowledgebase Page</a></li>
<li class="menu-item"><a title="WHMCS Domain Page" href="#">WHMCS Domain Page</a></li>
<li class="menu-item"><a title="WHMCS Billing Page" href="#">WHMCS Billing Page</a></li>
<li class="menu-item"><a title="WHMCS Announcements Page" href="#">WHMCS Announcements Page</a></li>
<li class="menu-item"><a title="WHMCS Support Page" href="#">WHMCS Support Page</a></li>
</ul>
</li>
<li class="menu-item megamenu-item">
<a title="Features" href="#">Features</a>
<ul class="dropdown-menu">
<li>
<div class="megamenu-content ">
<div class="col-sm-3">
<div class="ts_single_image">
<img width="282" height="300" src="images/Server-982x10242-282x300.png" class="single_image-img " alt="Server-982x10242"/>
</div>
</div>
<div class="col-sm-3">
<h2 class="widgettitle">Layout Features</h2>
<div class="menu-layout-features-container">
<ul id="menu-layout-features" class="menu">
<li class="menu-item"><a title="Fully Responsive Design" href="fully-responsive-design.html"><i class="fa fa-desktop"></i>Fully Responsive Design</a></li>
<li class="menu-item"><a title="Parallax Image, Video" href="#"><i class="fa fa-sort"></i>Parallax Image, Video</a></li>
<li class="menu-item"><a title="Megamenu with drag, drop" href="#"><i class="fa fa-align-justify"></i>Megamenu with drag, drop</a></li>
<li class="menu-item"><a title="Unlimited Color Skins" href="#"><i class="fa fa-eyedropper"></i>Unlimited Color Skins</a></li>
<li class="menu-item"><a title="Cross-Browser Compatible" href="#"><i class="fa fa-globe"></i>Cross-Browser Compatible</a></li>
<li class="menu-item"><a title="Design with UX Optimization" href="#"><i class="fa fa-crop"></i>Design with UX Optimization</a></li>
</ul>
</div>
</div>
<div class="col-sm-3">
<h2 class="widgettitle">Function Features</h2>
<div class="menu-function-features-container">
<ul id="menu-function-features" class="menu">
<li class="menu-item"><a title="Visual Composer Drag &amp;Drop" href="#"><i class="fa fa-align-left"></i>Visual Composer Drag &#038;Drop</a></li>
<li class="menu-item"><a title="SEO Friendly with  Yoast" href="#"><i class="fa fa-lightbulb-o"></i>SEO Friendly with Yoast</a></li>
<li class="menu-item"><a title="Mailchimp Support" href="#"><i class="fa fa-envelope-o"></i>Mailchimp Support</a></li>
<li class="menu-item"><a title="Revolution Slider Sliders" href="#"><i class="fa fa-eye"></i>Revolution Slider Sliders</a></li>
<li class="menu-item"><a title="Translation Ready" href="#"><i class="fa fa-font"></i>Translation Ready</a></li>
<li class="menu-item"><a title="Premium Support &amp; Updates" href="#"><i class="fa fa-life-saver"></i>Premium Support &#038; Updates</a></li>
</ul>
</div>
</div>
<div class="col-sm-3">
<h2 class="widgettitle">Portfolio Pages</h2>
<div class="menu-portfolios-pages-container">
<ul id="menu-portfolios-pages" class="menu">
<li class="menu-item"><a title="Portfolio 2 columns" href="portfolio-2-columns.html"><i class="fa fa-chevron-right"></i>Portfolio 2 columns</a></li>
<li class="menu-item"><a title="Portfolio 3 Columns" href="portfolio-3-columns.html"><i class="fa fa-chevron-right"></i>Portfolio 3 Columns</a></li>
<li class="menu-item"><a title="Portfolio 4 Columns" href="portfolio-4-columns.html"><i class="fa fa-chevron-right"></i>Portfolio 4 Columns</a></li>
<li class="menu-item"><a title="Portfolio Sidebar" href="portfolio-sidebar.html"><i class="fa fa-chevron-right"></i>Portfolio Sidebar</a></li>
<li class="menu-item"><a title="Portfolio Full Width" href="portfolio-full-width.html"><i class="fa fa-chevron-right"></i>Portfolio Full Width</a></li>
<li class="menu-item menu-item-object-portfolio "><a title="Portfolio Single Page" href="web-design.html"><i class="fa fa-chevron-right"></i>Portfolio Single Page</a></li>
</ul>
</div>
</div>
</div>
</li>
</ul>
</li>
<li class="menu-item  menu-item-has-children  dropdown">
<a title="Shop" href="#">Shop</a>
<ul role="menu" class=" dropdown-menu">
<li class="menu-item"><a title="Shop" href="shop.html">Shop</a></li>
<li class="menu-item "><a title="Cart" href="cart.html">Cart</a></li>
<li class="menu-item "><a title="Checkout" href="checkout.html">Checkout</a></li>
<li class="menu-item "><a title="My Account" href="my-account.html">My Account</a></li>
</ul>
</li>
<li class="menu-item">
<a title="Blog" href="blog.html">Blog</a>
</li>
<li class="mini-shoping-cart-wraper menu-item menu-item-has-children  dropdown">
<a title="View your shopping cart" href="#" class="cart-contents">
<i class="fa fa-shopping-cart"></i>
<span class="cart-number-items">0</span>
</a>
<div class="dropdown-menu mini-shoping-cart">
<div class="widget_shopping_cart_content">
<ul class="cart_list product_list_widget ">
<li class="empty">No products in the cart.</li>
</ul>
</div>
</div>
</li>
</ul>
<div class="navbar-form"><a href="<%= new_account_path %>" class="ts-bt bt-login"><i class="fa fa-user"></i>SIGN UP</a></div>
</nav>
</div>
</div>
</div>
</header>
 
 
<div id="container_full">
 
<div class="ts-slideshow  parallax-section">
<div class="row">
<div class="col-sm-12  ">
 
<div id="rev_slider_9_1" class="rev_slider fullwidthabanner">
<ul>  
<li data-transition="fade" data-slotamount="9" data-masterspeed="300" data-thumb="images/slide11-320x200.png" data-saveperformance="off" data-title="Slide">
 
<img src="images/slideshow/slide11.png" alt="slide11" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
 
 
<div class="tp-caption tp-fade" data-x="right" data-hoffset="0" data-y="145" data-speed="900" data-start="500" data-easing="easeOutExpo" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="900" style="z-index: 5;"><img src="images/slideshow/imgslide1.png" alt="">
</div>
 
<div class="tp-caption ts-big-caption tp-fade tp-resizeme" data-x="0" data-y="128" data-speed="900" data-start="800" data-easing="easeOutExpo" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="1700" style="z-index: 6; max-width: auto; max-height: auto; white-space: nowrap;">Build <span> your dream</span> website with <br/>cloud hosting
</div>
 
<div class="tp-caption ts-caption-medium tp-fade tp-resizeme" data-x="0" data-y="248" data-speed="900" data-start="1100" data-easing="easeOutExpo" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="1700" style="z-index: 7; max-width: auto; max-height: auto; white-space: nowrap;">A complete website solution for your business or personal website
</div>
 
<div class="tp-caption ts-caption-small tp-fade tp-resizeme" data-x="0" data-y="290" data-speed="900" data-start="1400" data-easing="easeOutExpo" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="2100" style="z-index: 8; max-width: auto; max-height: auto; white-space: nowrap;"><i class="fa fa-star"></i> Intuitive editor
</div>
 
<div class="tp-caption ts-caption-small tp-fade tp-resizeme" data-x="0" data-y="330" data-speed="900" data-start="1700" data-easing="easeOutExpo" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="2200" style="z-index: 9; max-width: auto; max-height: auto; white-space: nowrap;"><i class="fa fa-star"></i> 40+ professional templates
</div>
 
<div class="tp-caption ts-caption-small tp-fade tp-resizeme" data-x="0" data-y="370" data-speed="900" data-start="2000" data-easing="easeOutExpo" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="2300" style="z-index: 10; max-width: auto; max-height: auto; white-space: nowrap;"><i class="fa fa-star"></i> Customisable & responsive designs
</div>
 
<div class="tp-caption ts-button-slide tp-fade tp-resizeme" data-x="0" data-y="430" data-speed="300" data-start="2300" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="3400" style="z-index: 11; max-width: auto; max-height: auto; white-space: nowrap;"><a href="#">Learn more</a>
</div>
 
<div class="tp-caption ts-price-rev tp-fade tp-resizeme" data-x="150" data-y="415" data-speed="300" data-start="2600" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="400" style="z-index: 12; max-width: auto; max-height: auto; white-space: nowrap;">Starting at<br/><span>£2.99/mo</span>
</div>
</li>
 
<li data-transition="fade" data-slotamount="9" data-masterspeed="300" data-thumb="images/slideshow/slide21-320x200.png" data-saveperformance="off" data-title="Slide">
 
<img src="images/slideshow/slide21.png" alt="slide21" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
 
 
<div class="tp-caption tp-fade" data-x="0" data-y="70" data-speed="900" data-start="500" data-easing="easeOutExpo" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="900" style="z-index: 5;"><img src="images/slideshow/person-02.png" alt="">
</div>
 
<div class="tp-caption ts-big-caption tp-fade tp-resizeme" data-x="right" data-hoffset="6" data-y="159" data-speed="900" data-start="800" data-easing="easeOutExpo" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="1000" style="z-index: 6; max-width: auto; max-height: auto; white-space: nowrap;">Domain Names at <span> Great Prices</span>
</div>
 
<div class="tp-caption ts-caption-medium tp-fade tp-resizeme" data-x="right" data-hoffset="-3" data-y="224" data-speed="900" data-start="1100" data-easing="easeOutExpo" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="1700" style="z-index: 7; max-width: auto; max-height: auto; white-space: nowrap;">Great ideas deserve great hosting. Put yours online today!
</div>
 
<div class="tp-caption ts-caption-small-right tp-fade tp-resizeme" data-x="right" data-hoffset="0" data-y="290" data-speed="900" data-start="1400" data-easing="easeOutExpo" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="2100" style="z-index: 8; max-width: auto; max-height: auto; white-space: nowrap;">Fast, reliable & scalable<i class="fa fa-star"></i>
</div>
 
<div class="tp-caption ts-caption-small-right tp-fade tp-resizeme" data-x="right" data-hoffset="0" data-y="330" data-speed="900" data-start="1700" data-easing="easeOutExpo" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="2200" style="z-index: 9; max-width: auto; max-height: auto; white-space: nowrap;">Free daily backups<i class="fa fa-star"></i>
</div>
 
<div class="tp-caption ts-caption-small-right tp-fade tp-resizeme" data-x="right" data-hoffset="0" data-y="370" data-speed="900" data-start="2000" data-easing="easeOutExpo" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="2300" style="z-index: 10; max-width: auto; max-height: auto; white-space: nowrap;">No minimum contracts<i class="fa fa-star"></i>
</div>
 
<div class="tp-caption ts-button-slide-2 tp-fade tp-resizeme" data-x="right" data-hoffset="0" data-y="430" data-speed="300" data-start="2300" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 11; max-width: auto; max-height: auto; white-space: nowrap;"><a href="#">Learn more</a>
</div>
 
<div class="tp-caption ts-price-rev-right tp-fade tp-resizeme" data-x="right" data-hoffset="-151" data-y="415" data-speed="300" data-start="2300" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 12; max-width: auto; max-height: auto; white-space: nowrap;">Starting at <br/><span>£2.99/mo</span>
</div>
</li>
 
<li data-transition="fade" data-slotamount="9" data-masterspeed="300" data-thumb="images/slideshow/f9c22c58-320x200.jpg" data-saveperformance="off" data-title="Slide">
 
<img src="images/f9c22c58.jpg" alt="f9c22c58" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">
 
 
<div class="tp-caption ts-big-caption-center tp-fade tp-resizeme" data-x="center" data-hoffset="1" data-y="152" data-speed="900" data-start="500" data-easing="easeOutExpo" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="1000" style="z-index: 5; max-width: auto; max-height: auto; white-space: nowrap;">Install Many Popular Apps In<span> Just 1-Click</span>
</div>
 
<div class="tp-caption ts-caption-medium tp-fade tp-resizeme" data-x="center" data-hoffset="0" data-y="center" data-voffset="-61" data-speed="900" data-start="800" data-easing="easeOutExpo" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="1700" style="z-index: 6; max-width: auto; max-height: auto; white-space: nowrap;">Get your site up on our Cloud platform in just minutes
</div>
 
<div class="tp-caption ts-caption-small-center tp-fade tp-resizeme" data-x="center" data-hoffset="-198" data-y="265" data-speed="900" data-start="1100" data-easing="easeOutExpo" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="2100" style="z-index: 7; max-width: auto; max-height: auto; white-space: nowrap;"><i class="fa fa-star"></i>Over 20 popular applications
</div>
 
<div class="tp-caption ts-caption-small-center tp-fade tp-resizeme" data-x="center" data-hoffset="0" data-y="265" data-speed="900" data-start="1400" data-easing="easeOutExpo" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="2200" style="z-index: 8; max-width: auto; max-height: auto; white-space: nowrap;"><i class="fa fa-star"></i> Free daily backups
</div>
 
<div class="tp-caption ts-caption-small-center tp-fade tp-resizeme" data-x="center" data-hoffset="198" data-y="265" data-speed="900" data-start="1700" data-easing="easeOutExpo" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="2300" style="z-index: 9; max-width: auto; max-height: auto; white-space: nowrap;"><i class="fa fa-star"></i>24/7 UK based support
</div>
 
<div class="tp-caption sfb" data-x="center" data-hoffset="-239" data-y="329" data-speed="300" data-start="2000" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="2300" style="z-index: 10;"><img src="images/slideshow/icon-slide1.png" alt="">
</div>
 
<div class="tp-caption sfb" data-x="center" data-hoffset="-117" data-y="329" data-speed="300" data-start="2300" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="2600" style="z-index: 11;"><img src="images/slideshow/icon-slide2.png" alt="">
</div>
 
<div class="tp-caption sfb" data-x="center" data-hoffset="0" data-y="329" data-speed="300" data-start="2600" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="2900" style="z-index: 12;"><img src="images/slideshow/icon-slide3.png" alt="">
</div>
 
<div class="tp-caption sfb" data-x="center" data-hoffset="119" data-y="329" data-speed="300" data-start="2900" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="4200" style="z-index: 13;"><img src="images/slideshow/icon-slide4.png" alt="">
</div>
 
<div class="tp-caption sfb" data-x="center" data-hoffset="239" data-y="329" data-speed="300" data-start="3100" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="4400" style="z-index: 14;"><img src="images/slideshow/icon-slide5.png" alt="">
</div>
 
<div class="tp-caption ts-button-slide sfb tp-resizeme" data-x="center" data-hoffset="0" data-y="468" data-speed="300" data-start="3400" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="4700" style="z-index: 15; max-width: auto; max-height: auto; white-space: nowrap;"><a href="#">Learn more</a>
</div>
</li>
</ul>
</div>
 
</div>
</div>
</div>
 
 
<div class="ts-managed-dedicated">
<div class="container">
<div class="row">
<div class="col-sm-12  ">
<div class="ts-CTA">
<div class="row">
<div class="col-md-7 col-sm-9 col-xs-12">
<div class="ts-left-CTA">
<h3>Managed Dedicated Servers</h3>
<p>Blazing performance, supreme flexibility &amp; superior UK based support.</p>
</div>
</div>
<div class="col-md-5 col-sm-3 col-xs-12">
<div class="ts-right-CTA">
<a class="ts-style-button-cta" href="#">Get started</a>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="ts-home1-function">
<div class="container">
<div class="row">
<div class="col-sm-4">
<div class="ts-service-style-1">
<div class="service-title">
<span class="service-icon"><i class="fa fa-magic"></i></span>
<h3>Backups Available</h3>
</div>
<div class="service-content">
<p>Compellingly transform plug-and-play expertise whereas efficient platforms. Authoritatively communicate quality sources vis-a-vis standards compliant partnerships.</p>
</div>
</div>
</div>
<div class="col-sm-4">
<div>
<div class="ts-service-style-1">
<div class="service-title">
<span class="service-icon"><i class="fa fa-cubes"></i></span>
<h3>Reliable Hardware</h3>
</div>
<div class="service-content">
<p>Compellingly transform plug-and-play expertise whereas efficient platforms. Authoritatively communicate quality sources vis-a-vis standards compliant partnerships.</p>
</div>
</div>
</div>
</div>
<div class="col-sm-4">
<div class="ts-service-style-1">
<div class="service-title">
<span class="service-icon"><i class="fa fa-leaf"></i></span>
<h3>99.99% Uptime</h3>
</div>
<div class="service-content">
<p>Compellingly transform plug-and-play expertise whereas efficient platforms. Authoritatively communicate quality sources vis-a-vis standards compliant partnerships.</p>
</div>
</div>
</div>
</div>
</div>
</div>
 
 
<div class="ts-home1-domain parallax-section">
<div class="ts-overlay"></div>
<div class="container">
<div class="col-sm-12  ">
<div class="ts-section-title  ts-home1-domain-title text-center">
<h3>Get the domain of your dreams</h3>
<div class="ts-section-title title-light">
<p>Starting from as little as £3.35 per year!</p>
</div>
</div>
<div class="bg_parallax  ts-home1-block7">
<div class="row">
<div class="col-sm-12">
<div id="content-whois">
<form id="whois" action="#" method="post" class="ts-search-whois">
<div id="domain">
<div class="l1">
<span>www.</span>
<input type="text" name="domain" class="input"/>
<input name="Submit" type="submit" value="Search" class="input" onclick="iCheckDomain(); return false;"/>
</div>
<div class="r">
<p class="center">(e.g yourcompany)</p>
</div>
<div class="l2">
<table>
<tr>
<td><input type="checkbox" name="tld_com1"/>.com</td>
<td><input type="checkbox" name="tld_net1"/>.net</td>
<td><input type="checkbox" name="tld_org1"/>.org</td>
<td><input type="checkbox" name="tld_co1"/>.co</td>
</tr>
</table>
</div>
</div>
</form>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
 
<div class="ts-home1-hosting-platforms-title parallax-section">
<div class="container">
<div class="col-sm-12">
<div class="ts-section-title  text-center">
<h3>Different hosting platforms to suit every need!</h3>
<p>Each type of hosting service we provide is further optimized with unique performance tweaks!</p>
</div>
</div>
</div>
</div>
 
<div class="ts-home1-hosting-platforms parallax-section">
<div class="container">
<div class="row">
  <% if user_signed_in? %>
	<% if current_user.otp_required_for_login %>
	  	<h5>Your opt_attempt is <%= current_user.current_otp %> (This is only for testing.)<h5>  	
	    <%= raw RQRCode::render_qrcode(current_user.otp_provisioning_uri(current_user.email, issuer: "Devise-Two-Factor-Demo"),
	                                   :svg,
	                                   :level => :l,
	                                   :unit => 2) %>    
	<% end %>  
<% end %>

<%= stylesheet_link_tag "home.css"%>
<% if !user_signed_in? %> 
      <div  class="ts-home1-hosting-platforms parallax-section">

            <div class="col-sm-6 col-md-4">
              <div class="ts-pricing-table-style1 ">
                <div class="price-unit">
                  <span class="price">$30</span>
                  <span class="unit">pm</span>
                </div>
                <h3>Premium Plan</h3>
                <ul class="content-pricing">
                  <li>10GB Storage Space</li>
                  <li>50GB Bandwidth</li>
                  <li>10 Free Sub-Domains</li>
                  <li>100 E-mail Accounts</li>
                  <li>Control Panel &amp; FTP</li>
                </ul>
                <%= link_to 'GET STARTED', new_account_path(plan: 'gold'), class: "cta_pricing" %>                
              </div>
            </div> 
            <div class="col-sm-6 col-md-4">
              <div class="ts-pricing-table-style1 active">
                <div class="price-unit">
                  <span class="price">$50</span>
                  <span class="unit">pm</span>
                </div>
                <h3>ADVANCE Plan</h3>
                <ul class="content-pricing">
                  <li>10GB Storage Space</li>
                  <li>50GB Bandwidth</li>
                  <li>10 Free Sub-Domains</li>
                  <li>100 E-mail Accounts</li>
                  <li>Control Panel &amp; FTP</li>
                </ul>
                <%= link_to 'GET STARTED', new_account_path(plan: 'platinum'), class: "cta_pricing" %>                
              </div>
            </div> 
            <div class="col-sm-6 col-md-4">
              <div class="ts-pricing-table-style1 ">
                <div class="price-unit">
                  <span class="price">$20</span>
                  <span class="unit">pm</span>
                </div>
                <h3>Basic Plan</h3>
                <ul class="content-pricing">
                  <li>10GB Storage Space</li>
                  <li>50GB Bandwidth</li>
                  <li>10 Free Sub-Domains</li>
                  <li>100 E-mail Accounts</li>
                  <li>Control Panel &amp; FTP</li>
                </ul>
                <%= link_to 'GET STARTED', new_account_path(plan: 'silver'), class: "cta_pricing" %>
              </div>
            </div> 
          
      </div>      
    <% end %>

  
</div>
</div>
</div>
 
 
<div class="ts-home1-data-transferred parallax-section">
<div class="ts-overlay"></div>
<div class="container">
<div class="row">
<div class="col-sm-6 col-md-3  ">
<div class="ts-funfact">
<span class="funfact-icon"><i class="fa fa-cloud-upload"></i></span>
<div class="funfact-number-unit">
<span data-number="7854" class="funfact-number">7854</span> <span class="funfact-unit">gb</span>
</div>
<h5>Data Transferred</h5>
</div>
</div>
<div class="col-sm-6 col-md-3  ">
<div class="ts-funfact">
<span class="funfact-icon"><i class="fa fa-bar-chart"></i></span>
<div class="funfact-number-unit">
<span data-number="12116853" class="funfact-number">12116853</span>
</div>
<h5>Files Hosted</h5>
</div>
</div>
<div class="col-sm-6 col-md-3  ">
<div class="ts-funfact">
<span class="funfact-icon"><i class="fa fa-file-text-o"></i></span>
<div class="funfact-number-unit">
<span data-number="122571223" class="funfact-number">122571223</span>
</div>
<h5>Pages Served</h5>
</div>
</div>
<div class="col-sm-6 col-md-3  ">
<div class="ts-funfact">
<span class="funfact-icon"><i class="fa fa-codepen"></i></span>
<div class="funfact-number-unit">
<span data-number="12345" class="funfact-number">12345</span>
</div>
<h5>Happy Clients</h5>
</div>
</div>
</div>
</div>
</div>
 
 
<div class="ts-home1-acordion parallax-section">
<div class="container">
<div class="row">
<div class="col-sm-6  ">
<div class="ts-section-title">
<h3>Testimonials</h3>
</div>
<div class="ts-testimonial-style1 ts-list-testimonial ">
<div class="ts-item-testimonial-1">
<div class="client-quote">
<i class="fa fa-quote-left"></i>
<blockquote>
<p>There are many variations passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected randomise words which don&#8217;t look even believable.</p>
</blockquote>
</div>
<div class="info-testimonial">
<div class="client-avatar">
<figure><img alt="" src="images/avatar/client-avatar-95x95.png"></figure>
</div>
<div class="client-info">
<span class="client-name">Lucia Penelope</span>
<span class="client-position">CEO & Founder Geckoos</span>
<span class="client-website"><a href="http://www.geekoos.com">www.geekoos.com</a></span>
</div>
</div>
</div>
<div class="ts-item-testimonial-1">
<div class="client-quote">
<i class="fa fa-quote-left"></i>
<blockquote>
<p>Efficiently enhance dynamic e-tailers via economically sound users. Completely empower backend results through tactical web. Appropriately reintermediate exceptional e-tailers vis-a-vis exceptional vortals. Continually implement.</p>
</blockquote>
</div>
<div class="info-testimonial">
<div class="client-avatar">
<figure><img alt="" src="images/avatar/client-avatar-95x95.png"></figure>
</div>
<div class="client-info">
<span class="client-name">Mark Adraison</span>
<span class="client-position">CEO & Founder Geckoos</span>
<span class="client-website"><a href="http://www.geekoos.com">www.geekoos.com</a></span>
</div>
</div>
</div>
<div class="ts-item-testimonial-1">
<div class="client-quote">
<i class="fa fa-quote-left"></i>
<blockquote>
<p>There are many variations passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected randomise words which don&#8217;t look even believable.</p>
</blockquote>
</div>
<div class="info-testimonial">
<div class="client-avatar">
<figure><img alt="" src="images/avatar/client-avatar-95x95.png"></figure>
</div>
<div class="client-info">
<span class="client-name">Robert Smith</span>
<span class="client-position">CEO of Geckoos.com</span>
<span class="client-website"><a href="http://www.geekoos.com">www.geekoos.com</a></span>
</div>
</div>
</div>
</div>
</div>
<div class="col-sm-6  ">
<div class="ts-section-title">
<h3>Knowledge Base</h3>
</div>
<div class="ts-acordion ts-acordion- ts-acordion-151">
<h3>Rapidiously whiteboard enabled</h3>
<div class="acordion-content">
<p>Efficiently enhance dynamic e-tailers via economically sound users. Completely empower backend results through tactical web. Appropriately reintermediate exceptional e-tailers vis-a-vis exceptional vortals. Continually implement.</p>
</div>
<h3>Rapidiously whiteboard enabled</h3>
<div class="acordion-content">
<p>Efficiently enhance dynamic e-tailers via economically sound users. Completely empower backend results through tactical web. Appropriately reintermediate exceptional e-tailers vis-a-vis exceptional vortals. Continually implement.</p>
</div>
<h3>Rapidiously whiteboard enabled</h3>
<div class="acordion-content">
<p>Efficiently enhance dynamic e-tailers via economically sound users. Completely empower backend results through tactical web. Appropriately reintermediate exceptional e-tailers vis-a-vis exceptional vortals. Continually implement.</p>
</div>
</div>
</div>
</div>
</div>
</div>
 
 
<div class="ts-home1-hosting-services parallax-section">
<div class="ts-overlay"></div>
<div class="container">
<div class="col-sm-12">
<div class="ts-section-title text-center">
<h3>Best Small Business Hosting Services</h3>
</div>
<div class="row">
<div class="col-sm-6  ts-home1-block12-left">
<div class="ts-feature-item right">
<div class="icon-feature">
<i class="fa fa-laptop"></i>
</div>
<div class="info-feature">
<h3><a href="">One-click set-up</a></h3>
<p>Globally evolve e-business niches with best-of-breed technology. Monotonectally iterate backend infomediaries for excellent manufactured products. Dramatically disseminate</p>
</div>
</div>
<div class="ts-feature-item right">
<div class="icon-feature">
<i class="fa fa-coffee"></i>
</div>
<div class="info-feature">
<h3><a href="">Scalability to fit your needs</a></h3>
<p>Globally evolve e-business niches with best-of-breed technology. Monotonectally iterate backend infomediaries for excellent manufactured products. Dramatically disseminate</p>
</div>
</div>
</div>
<div class="col-sm-6">
<div class="ts-feature-item left">
<div class="icon-feature">
<i class="fa fa-database"></i>
</div>
<div class="info-feature">
<h3><a href="">Unlimited storage and bandwidth</a></h3>
<p>Globally evolve e-business niches with best-of-breed technology. Monotonectally iterate backend infomediaries for excellent manufactured products. Dramatically disseminate</p>
</div>
</div>
<div class="ts-feature-item left">
<div class="icon-feature">
<i class="fa fa-star"></i>
</div>
<div class="info-feature">
<h3><a href="">24/7 secure monitoring</a></h3>
<p>Globally evolve e-business niches with best-of-breed technology. Monotonectally iterate backend infomediaries for excellent manufactured products. Dramatically disseminate</p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
 
 
<div class="ts-home1-companies-cloud parallax-section">
<div class="container">
<div class="col-sm-12  ">
<div class="ts-section-title   companies-cloud-top text-center">
<h3>Some of the companies that uses Cloud</h3><p>Each type of hosting service we provide is further optimized with unique performance tweaks!</p>
</div>
<div class="ts-client-list">
<ul>
<li class="client-item"><img width="215" height="95" src="images/client-3-215x95.png" class="attachment-client-work" alt="client-3"/></li>
<li class="client-item"><img width="215" height="95" src="images/client-4-215x95.png" class="attachment-client-work" alt="client-4"/></li>
<li class="client-item"><img width="215" height="95" src="images/client-5-215x95.png" class="attachment-client-work" alt="client-5"/></li>
<li class="client-item"><img width="215" height="95" src="images/client-1-215x95.png" class="attachment-client-work" alt="client-1"/></li>
<li class="client-item"><img width="215" height="95" src="images/client-2-215x95.png" class="attachment-client-work" alt="client-2"/></li>
</ul>
</div>
</div>
</div>
</div>
 
 
<div class="ts-home1-lasted-blog">
<div class="container">
<div class="row">
<div class="col-sm-12 ">
<div class="ts-section-title  text-center">
<h3>Lasted blog post</h3>
<p>Assertively incentivize fully tested testing procedures</p>
</div>
<div class="ts-blog-slide">
<article class="ts-item-post">
<a href="#"><figure><img src="images/imgbl2-1024x683.jpg" alt=""></figure></a>
<div class="ts-main-recent-post">
<h4><a href="#">Seamlessly enable multimedia based technologies</a></h4>
<p>Synergistically supply global testing procedures through ethical scenarios. Assertively develop empowered customer service and sticky</p>
</div>
<div class="ts-item-post-footer">
<div class="lasted-blog-time">
<a href="#"><i class="fa fa-clock-o"></i>January 15, 2015</a>
</div>
<a href="#"><i class="fa fa-comments-o"></i><span class="ts-comment-count">3 Comments</span></a>
</div>
</article>
<article class="ts-item-post">
<a href="#"><figure><img src="images/imgbl7-1024x683.jpg" alt=""></figure></a>
<div class="ts-main-recent-post">
<h4><a href="#">Distinctively provide access to backend</a></h4>
<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut<p>
</div>
<div class="ts-item-post-footer">
<div class="lasted-blog-time">
<a href="#"><i class="fa fa-clock-o"></i>January 13, 2015</a>
</div>
<a href="#"><i class="fa fa-comments-o"></i><span class="ts-comment-count">0 Comments</span></a>
</div>
</article>
<article class="ts-item-post ">
<a href="#"><figure><img src="images/14408938623_7a857155f3_b-1024x683.jpg" alt=""></figure></a>
<div class="ts-main-recent-post">
<h4><a href="#">Intrinsicly plagiarize interactive</a></h4>
<p>Synergistically supply global testing procedures through ethical scenarios. Assertively develop empowered customer service and sticky</p>
</div>
<div class="ts-item-post-footer">
<div class="lasted-blog-time"><a href="#"><i class="fa fa-clock-o"></i>January 7, 2015</a></div>
<a href="#"><i class="fa fa-comments-o"></i><span class="ts-comment-count">0 Comments</span></a>
</div>
</article>
<article class="ts-item-post">
<a href="#"><figure><img src="images/imgbl2-1024x683.jpg" alt=""></figure></a>
<div class="ts-main-recent-post">
<h4><a href="#">Uniquely develop quality catalysts</a></h4>
<p>Synergistically supply global testing procedures through ethical scenarios. Assertively develop empowered customer service and sticky</p>
</div>
<div class="ts-item-post-footer">
<div class="lasted-blog-time"><a href="#"><i class="fa fa-clock-o"></i>January 7, 2015</a></div>
<a href="#"><i class="fa fa-comments-o"></i><span class="ts-comment-count">2 Comments</span></a>
</div>
</article>
<article class="ts-item-post">
<a href="#"><figure><img src="images/imgbl3-1024x683.jpg" alt=""></figure></a>
<div class="ts-main-recent-post">
<h4><a href="#">Professionally utilize leading-edge</a></h4>
<p>Synergistically supply global testing procedures through ethical scenarios. Assertively develop empowered customer service and sticky<p> </div>
<div class="ts-item-post-footer">
<div class="lasted-blog-time">
<a href="#"><i class="fa fa-clock-o"></i>January 7, 2015</a>
</div>
<a href="#"><i class="fa fa-comments-o"></i><span class="ts-comment-count">0 Comments</span></a>
</div>
</article>
</div>
</div>
</div>
</div>
</div>
</div>
 
 
 
<div class="ts-section-top-footer">
<div class="ts-top-footer">
<div class="container">
<div class="row">
<div class="col-lg-4 col-md-4 col-sm-4 ts-contact-email-info contact-info">
<span><i class="fa fa-envelope-o"></i></span>
<a href="/cdn-cgi/l/email-protection#463533363629343206272a27352d276825292b">Email us</a>
</div>
<div class="col-lg-4 col-md-4 col-sm-4 ts-contact-phone-info contact-info">
<span><i class="fa fa-phone"></i></span>
<p>1-1800-123-6789</p>
</div>
<div class="col-lg-4 col-md-4 col-sm-4 ts-contact-livechat-info contact-info">
<span><i class="fa fa-comment-o"></i></span>
<a href="javascript:$zopim.livechat.window.show()">Live chat with us</a>
</div>
</div>
</div>
</div>
</div>
 
 
<footer>
<div class="container">
<div class="row">
<div class="col-lg-3 col-md-3 col-sm-6">
<div class="ts-company-info ">
<h3 class="title">About company</h3>
<p>Progressively conceptualize frictionless web-readiness without standardized e-commerce. Quickly incubate ubiquitous infomediaries after maintainable</p>
<p><span>A : PO Box 16122 Collins Street West Victoria 8007 Australia</span></p>
<p><span>E : </span><a href="/cdn-cgi/l/email-protection#afc1c082ddcadfc3ced6efcac1d9cedbc081ccc0c2"><span class="__cf_email__" data-cfemail="d0bebffda2b5a0bcb1a990b5bea6b1a4bffeb3bfbd">[email&#160;protected]</span><script cf-hash='f9e31' type="text/javascript">
/* <![CDATA[ */!function(){try{var t="currentScript"in document?document.currentScript:function(){for(var t=document.getElementsByTagName("script"),e=t.length;e--;)if(t[e].getAttribute("cf-hash"))return t[e]}();if(t&&t.previousSibling){var e,r,n,i,c=t.previousSibling,a=c.getAttribute("data-cfemail");if(a){for(e="",r=parseInt(a.substr(0,2),16),n=2;a.length-n;n+=2)i=parseInt(a.substr(n,2),16)^r,e+=String.fromCharCode(i);e=document.createTextNode(e),c.parentNode.replaceChild(e,c)}}}catch(u){}}();/* ]]> */</script></a></p>
</div>
</div>
<div class="col-lg-3 col-md-3 col-sm-6">
<div class="nav_menu-1 nav_menu">
<h3 class="title">Support &amp; help</h3>
<div class="menu-support-help-container">
<ul id="menu-support-help" class="menu"><li class="menu-item"><a title="Support Home" href="#">Support Home</a></li>
<li class="menu-item"><a title="Knowledge Center" href="#">Knowledge Center</a></li>
<li class="menu-item"><a title="Rackspace Community" href="#">Rackspace Community</a></li>
<li class="menu-item"><a title="API Documentation" href="#">API Documentation</a></li>
<li class="menu-item"><a title="Developer Center" href="#">Developer Center</a></li>
</ul>
</div>
</div>
</div>
<div class="col-lg-3 col-md-3 col-sm-6">
<div class="nav_menu-2 nav_menu">
<h3 class="title">Control panel</h3>
<div class="menu-control-panel-container">
<ul id="menu-control-panel" class="menu"><li class="menu-item"><a title="Get Support" href="#">Get Support</a></li>
<li class="menu-item"><a title="Premium Hosting" href="#">Premium Hosting</a></li>
<li class="menu-item"><a title="Auto Install Scripts" href="#">Auto Install Scripts</a></li>
<li class="menu-item"><a title="Service Status" href="#">Service Status</a></li>
<li class="menu-item"><a title="Contact Us" href="#">Contact Us</a></li>
</ul>
</div>
</div>
</div>
<div class="col-lg-3 col-md-3 col-sm-6 last">
<div class="subscribe-form">
<h3 class="title">Subscribe newsletter</h3>
 
<div class="form mc4wp-form">
<form method="post"><p>Subscribe to our email newsletter for useful tips and valuable resources.</p>
<div class="form-group">
<div class="input-group">
<input required="required" placeholder="Your email address..." name="EMAIL" type="email">
<span class="input-group-button">
<input value="GO" type="submit">
</span>
</div>
</div>
</form>
</div>
 
</div>
<div class="ts_alaska_follow_us-1  TS_ALASKA_Follow_us">
<div class="ts-social-footer ">
<h3 class="title">Follow us</h3>
<a href="#" target="_blank"><span><i class="fa fa-twitter"></i></span></a>
<a href="#" target="_blank"><span><i class="fa fa-facebook"></i></span></a>
<a href="#" target="_blank"><span><i class="fa fa-google-plus"></i></span></a>
<a href="#" target="_blank"><span><i class="fa fa-youtube"></i></span></a>
<a href="#" target="_blank"><span><i class="fa fa-vine"></i></span></a>
<a href="#" target="_blank"><span><i class="fa fa-behance"></i></span></a>
<a href="#" target="_blank"><span><i class="fa fa-dribbble"></i></span></a>
<a href="#" target="_blank"><span><i class="fa fa-tumblr"></i></span></a>
</div>
 
</div>
</div>
</div>
</div>
</footer>
 
 
<div class="ts-copy-right">
<div class="container">
<div class="row">
<div class="col-lg-4 col-md-4 col-sm-4">
<p>© 2014 Alaska Hosting. All rights reserved.</p>
</div>
<div class="col-lg-8 col-md-8 col-sm-8">
<div class="ts-menu-footer">
<nav>
<ul>
<li><a href="#">Home</a></li>
<li><a href="#">About</a></li>
<li><a href="#">promotions</a></li>
<li><a href="#">services</a></li>
<li><a href="#">contact</a></li>
</ul>
</nav>
</div>
</div>
</div>
</div>
</div>
 
 
<div class="clr toggle-bar-fade hidden-xs" id="toggle-bar-wrap">
<div class="clr container" id="toggle-bar">
<div class="container">
<div class="col-sm-6  ">
<h4>Welcome Alaska</h4>
<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry is standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
<div class="vcex-spacing"></div>
<div>
<h4>Get In Touch</h4>
</div>
<div class="vcex-list_item">
<span class="fa fa-map-marker"></span>PO Box 16122 Collins Street West Victoria 8007 Australia
</div>
 
<div class="vcex-list_item">
<span class="fa fa-envelope-o"></span><a class="__cf_email__" href="/cdn-cgi/l/email-protection" data-cfemail="f09e9fdd8295809c9189b0959e8691849fde939f9d">[email&#160;protected]</a><script cf-hash='f9e31' type="text/javascript">
/* <![CDATA[ */!function(){try{var t="currentScript"in document?document.currentScript:function(){for(var t=document.getElementsByTagName("script"),e=t.length;e--;)if(t[e].getAttribute("cf-hash"))return t[e]}();if(t&&t.previousSibling){var e,r,n,i,c=t.previousSibling,a=c.getAttribute("data-cfemail");if(a){for(e="",r=parseInt(a.substr(0,2),16),n=2;a.length-n;n+=2)i=parseInt(a.substr(n,2),16)^r,e+=String.fromCharCode(i);e=document.createTextNode(e),c.parentNode.replaceChild(e,c)}}}catch(u){}}();/* ]]> */</script>
</div>
 
<div class="vcex-list_item">
<span class="fa fa-phone"></span>(123) 222 5555
</div>
 
<div class="vcex-list_item">
<span class="fa fa-fax"></span>084 (123) 456-7890
</div>
 
</div>
<div class="col-sm-6 ">
<h4>Our Location</h4>
<div>
<img width="468" height="263" alt="togglebar-map" src="images/map.png">
</div> 
</div>
</div> 
</div> 
</div>
 
</div>
 
<script type='text/javascript' src='js/jquery.js'></script>
<script type='text/javascript' src='js/jquery-ui.js'></script>
<script type='text/javascript' src='js/jquery.themepunch.tools.min.js'></script>
<script type='text/javascript' src='js/jquery.themepunch.revolution.min.js'></script>
<script type="text/javascript" src="js/slideshow-homepage.js"></script>
<script type='text/javascript' src='js/accordion.js'></script>
<script type='text/javascript' src='js/accordion.min.js'></script>
<script type='text/javascript' src='js/lasted-blog-slide.js'></script>
<script type='text/javascript' src='js/bootstrap.min.js'></script>
<script type='text/javascript' src='js/jquery.appear.min.js'></script>
<script type='text/javascript' src='js/jquery.countTo.js'></script>
<script type='text/javascript' src='js/jquery.countdown.js'></script>
<script type='text/javascript' src='js/jquery.fitvids.js'></script>
<script type='text/javascript' src='js/jquery.validate.min.js'></script>
<script type='text/javascript' src='js/jquery.owl.carousel.js'></script>
<script type='text/javascript' src='js/easyResponsiveTabs.js?'></script>
<script type='text/javascript' src='js/jquery.circliful.min.js'></script>
<script type='text/javascript' src='js/jquery.sticky.js'></script>
<script type='text/javascript' src='js/jquery.cubeportfolio.min.js'></script>
<script type='text/javascript' src='js/portfolio.js'></script>
<script type='text/javascript' src='js/chosen.jquery.min.js'></script>
<script type='text/javascript' src='js/custom.js'></script>
<script type="text/javascript">
/* <![CDATA[ */
(function(){try{var s,a,i,j,r,c,l=document.getElementsByTagName("a"),t=document.createElement("textarea");for(i=0;l.length-i;i++){try{a=l[i].getAttribute("href");if(a&&a.indexOf("/cdn-cgi/l/email-protection") > -1  && (a.length > 28)){s='';j=27+ 1 + a.indexOf("/cdn-cgi/l/email-protection");if (a.length > j) {r=parseInt(a.substr(j,2),16);for(j+=2;a.length>j&&a.substr(j,1)!='X';j+=2){c=parseInt(a.substr(j,2),16)^r;s+=String.fromCharCode(c);}j+=1;s+=a.substr(j,a.length-j);}t.innerHTML=s.replace(/</g,"&lt;").replace(/>/g,"&gt;");l[i].setAttribute("href","mailto:"+t.value);}}catch(e){}}}catch(e){}})();
/* ]]> */
</script>
</body>
</html>
<%
=begin
%>
<% title("Home Page") %>
<h1><i class="fa fa-home"></i> Home Page <small>views/pages/home.html.erb</small></h1>

<%
=end
%>
