<div id="loading" style='display:none'>
  <%= image_tag('icon_loading.gif', id: 'loading-image', alt: "Redirecting to your subdomain")%>
</div>

<script language="javascript" type="text/javascript">
  
  </script>

<style>
  
#loading {
   width: 100%;
   height: 100%;
   top: 0px;
   left: 0px;
   position: fixed;
   display: block;
   opacity: 0.7;
   background-color: #fff;
   z-index: 99;
   text-align: center;
}

#loading-image {
  position: absolute;
  top: 100px;
  left: 240px;
  z-index: 100;
}
</style>

<% content_for :head do %>
  <%= render 'payola/transactions/stripe_header' %>
<% end %>

<div class="col-md-8" id="login-wrapper">  
  <div  class="panel panel-primary animated flipInY">
    <div class="panel-heading">
      <h3 class="panel-title">Create Account</h3>
    </div>
    <div class="panel-body">

    <%= form_for(@account, :html => { :role => 'form',
            :class => 'form-horizontal payola-onestep-subscription-form',
            'data-payola-base-path' => payola_path,
            'data-payola-plan-type' => @account.owner.plan.plan_class,
            'data-payola-plan-id' => @account.owner.plan.id}) do |f| %>
        <div>
          <br />
          <span  id="error_explanation" class="payola-payment-error text-danger"></span>
          <hr />
        </div>
        
    <h4 class="text-info"> Select plan and fill required fields</h4>
        <%= f.fields_for :owner do |o| %>
          <div class="form-group">
            <%= o.label 'Subscription plan' , class: 'col-md-3 control-label'%>
            <div class="col-md-5">
              <%= o.collection_select(:plan_id, Plan.all, :id, :name, {}, {class: "form-control" }) %>
            </div>  
          </div>
          <div class="form-group">
            <%= o.label :email, class: 'col-md-3 control-label' %>
            <div class="col-md-9">
              <%= o.email_field :email, class: 'form-control',  placeholder: 'First Name', data: { payola: 'email' }%>
            </div>
          </div>
          <div class="form-group">
            <%= o.label :password, class: 'col-md-3 control-label' %>
            <div class="col-md-9">
              <%= o.password_field :password, class: 'form-control', placeholder: 'Password'%>
            </div>
          </div>
          <div class="form-group">
            <%= o.label :password_confirmation, class: 'col-md-3 control-label' %>
            <div class="col-md-9">
              <%= o.password_field :password_confirmation, class: 'form-control', placeholder: 'Password Confirmation'%>
            </div>
          </div>
        <% end %>
        
        <div class="form-group">
          <%= f.label :subdomain, class: 'col-md-3 control-label'%>
          <div class="col-md-9">
            <%= f.text_field :subdomain, class: 'form-control' ,placeholder: 'ex. mydomain'%>
          </div>
        </div>
           

    <%= render partial: 'shared/credit_card_form', :locals => {:f => f} %>
    <%= render partial: 'shared/personal_info', :locals => {:f => f} %>
      </div>


    <div class="panel-footer">
          <%= f.submit 'Create Account', :class => 'btn btn-lg btn-primary btn-block' %>
        </div>
      <% end %>
  </div>
</div>
